﻿@inject IOptions<AppSettings> AppSettings
@{
    // See Index.cshtml for full comments.
    ViewBag.Title = "My Profile";
    ViewBag.Description = "Preview and manage your account.";

    ViewData["Route"] = "inbox";
}

@section head
{
    @* See Index.cshtml for full comments. *@
    <meta name="author" content="Bourne Koloh">
    <twitter-card-summary-large-image username="@@bkss_tw">
    <open-graph-business site-name="@AppSettings.Value.SiteTitle"
                         title="@ViewBag.Title"
                         main-image="@(new OpenGraphImage(
                             Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                             ContentType.Png,
                             1200,
                             630))"
                         contact-data="@(new OpenGraphContactData("1 Street Name", "City", "SW1 1SW", "United Kingdom")
                             {
                                 Email = "info@bkss.co.ke",
                                 Phone = "111-222-333-444",
                                 Website = Url.AbsoluteRouteUrl(HomeControllerRoute.GetIndex)
                             })"
                         location="@(new OpenGraphLocation(51.5286417, -0.1015987))"
                         determiner="Blank">
    <meta asp-referrer="OriginWhenCrossOrigin">
}

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="inbox-nav-bar no-content-padding">

                <h1 class="page-title txt-color-blueDark hidden-tablet">
                    <i class="fa fa-fw fa-inbox"></i> Inbox &nbsp;
                    <span class="btn-group">
                        <a href="#" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret single"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li>
                                <a href="#">Another action</a>
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Separated link</a>
                            </li>
                        </ul>
                    </span>
                </h1>

                <div class="btn-group hidden-desktop visible-tablet">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Inbox <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="javascript:void(0);" class="inbox-load">Inbox <i class="fa fa-check"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Sent</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Trash</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">Spam</a>
                        </li>
                    </ul>

                </div>

                <div class="inbox-checkbox-triggered">

                    <div class="btn-group">
                        <a href="javascript:void(0);" rel="tooltip" title="" data-placement="bottom" data-original-title="Mark Important" class="btn btn-default"><strong><i class="fa fa-exclamation fa-lg text-danger"></i></strong></a>
                        <a href="javascript:void(0);" rel="tooltip" title="" data-placement="bottom" data-original-title="Move to folder" class="btn btn-default"><strong><i class="fa fa-folder-open fa-lg"></i></strong></a>
                        <a href="javascript:void(0);" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete" class="deletebutton btn btn-default"><strong><i class="fa fa-trash-o fa-lg"></i></strong></a>
                    </div>

                </div>

                <a href="javascript:void(0);" id="compose-mail-mini" class="btn btn-primary pull-right hidden-desktop visible-tablet"> <strong><i class="fa fa-file fa-lg"></i></strong> </a>

                <div class="btn-group pull-right inbox-paging">
                    <a href="javascript:void(0);" class="btn btn-default btn-sm"><strong><i class="fa fa-chevron-left"></i></strong></a>
                    <a href="javascript:void(0);" class="btn btn-default btn-sm"><strong><i class="fa fa-chevron-right"></i></strong></a>
                </div>
                <span class="pull-right"><strong>1-30</strong> of <strong>3,452</strong></span>

            </div>

            <div id="inbox-content" class="inbox-body no-content-padding">

                <div class="inbox-side-bar">

                    <a href="javascript:void(0);" id="compose-mail" class="btn btn-primary btn-block"> <strong>Compose</strong> </a>

                    <h6> Folder <a href="javascript:void(0);" rel="tooltip" title="" data-placement="right" data-original-title="Refresh" class="pull-right txt-color-darken"><i class="fa fa-refresh"></i></a></h6>

                    <ul class="inbox-menu-lg">
                        <li class="active">
                            <a class="inbox-load" href="javascript:void(0);"> Inbox (14) </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Sent</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Draft</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Trash</a>
                        </li>
                    </ul>

                    <h6> Quick Access <a href="javascript:void(0);" rel="tooltip" title="" data-placement="right" data-original-title="Add Another" class="pull-right txt-color-darken"><i class="fa fa-plus"></i></a></h6>

                    <ul class="inbox-menu-sm">
                        <li>
                            <a href="javascript:void(0);"> Images (476)</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Documents (4)</a>
                        </li>
                    </ul>

                    <div class="air air-bottom inbox-space">

                        3.5GB of <strong>10GB</strong><a href="javascript:void(0);" rel="tooltip" title="" data-placement="top" data-original-title="Empty Spam" class="pull-right txt-color-darken"><i class="fa fa-trash-o fa-lg"></i></a>

                        <div class="progress progress-micro">
                            <div class="progress-bar progress-primary" style="width: 34%;"></div>
                        </div>
                    </div>

                </div>

                <div style="opacity: 1;" class="table-wrap custom-scroll animated fast fadeInRight">
                    <table id="inbox-table" class="table table-striped table-hover">
                        <tbody>
                            <tr id="msg1" class="unread">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Alex Jones
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span><span class="label bg-color-orange">WORK</span> Karjua Marou</span> New server for datacenter needed
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>
                                        <a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="FILES: rocketlaunch.jpg, timelogs.xsl" class="txt-color-darken"><i class="fa fa-paperclip fa-lg"></i></a>
                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg2" class="unread">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Sadi Orlaf
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span><span class="label bg-color-teal">HOME</span> SmartAdmin.com</span> Sed ut perspiciatis unde....
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>
                                        <a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="rocketlaunch.jpg, timelogs.xsl" class="txt-color-darken"><i class="fa fa-paperclip fa-lg"></i></a>
                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg3">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Arik Lamora
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Facebook.com</span> Sed ut perspiciatis unde omnis iste natus error...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg4">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Robin Hood
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>10 Jobs</span> Sed ut perspiciatis unde omnis iste natus error...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg5">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        John Limar
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Project Date</span> Sed ut perspiciatis unde omnis iste natus...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>
                                        <a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="payscale-changes.pdf" class="txt-color-darken"><i class="fa fa-paperclip fa-lg"></i></a>
                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg6">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Jeff Hopkin <span class="text-danger">Draft</span>
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Hey John!</span> Sed ut perspiciatis unde omnis...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg7">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Toronto News
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Mayor Rod Fierd!</span> Sed ut perspiciatis unde sit...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg8">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Michael Bleigh
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Past due</span> Sed ut perspiciatis unde omnis iste na
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg9">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Me, Navin
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span><span class="label bg-color-teal">HOME</span> John!</span> Sed ut perspiciatis...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg10">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Trello Laka
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Project development</span> @@Sed ut perspiciatis unde omnis...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg11">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Doug Baird
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Pora korta casta ricka?</span> Sed ut perspiciatis unde omnis iste...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg12">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Michael Ray, P. Eng
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>John, please add me to your linkedin</span> Linked in request pending.
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg13">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Doug Baird
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Pora korta casta ricka?</span> Sed ut perspiciatis unde omnis iste...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg14">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Doug Baird
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Pora korta casta ricka?</span> Sed ut perspiciatis unde omnis iste...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg15" class="unread">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        <i class="fa fa-warning text-warning"></i> System Email
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span><span class="label bg-color-orange">WORK</span> Sustem Update</span> 2:00PM to 2PM
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg16">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Amazon.ca
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Baby deal of the week!</span> Two new items on your cart...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg17">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        New server for datacenter needed New server for datacenter ne...
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Header blha blah</span> New server for datacenter needed
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg18">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        New server for datacenter needed New server for datacenter ne...
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Header blha blah</span> New server for datacenter needed
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg19">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        System
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>SmartAdmin</span> You have a new friend request!
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg20">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        System
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>SmartAdmin</span> You have a new friend request!
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg21">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        System
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>SmartAdmin</span> You have a new friend request!
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg22">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        System
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>SmartAdmin</span> You have a new friend request!
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg23">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Sunny
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Important question!</span> Hey John, I hope you are okay...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg24">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        System
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>SmartAdmin</span> You have a new friend request!
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg25">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        Dogue Biryrd
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>Hey whats up?</span> Just checking up on ya...
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>

                            <tr id="msg26">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        System
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>SmartAdmin</span> You have a new friend request!
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg27">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        System
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>SmartAdmin</span> You have a new friend request!
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg28">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        System
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>SmartAdmin</span> You have a new friend request!
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg29">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        System
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>SmartAdmin</span> You have a new friend request!
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                            <tr id="msg30">
                                <td class="inbox-table-icon">
                                    <div class="checkbox">
                                        <label>
                                            <input class="checkbox style-2" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="inbox-data-from hidden-xs hidden-sm">
                                    <div>
                                        System
                                    </div>
                                </td>
                                <td class="inbox-data-message">
                                    <div>
                                        <span>SmartAdmin</span> You have a new friend request!
                                    </div>
                                </td>
                                <td class="inbox-data-attachment hidden-xs">
                                    <div>

                                    </div>
                                </td>
                                <td class="inbox-data-date hidden-xs">
                                    <div>
                                        10:23 am
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="inbox-footer">

                    <div class="row">

                        <div class="col-xs-6 col-sm-1">

                            <div class="txt-color-white hidden-desktop visible-mobile">
                                3.5GB of <strong>10GB</strong>

                                <div class="progress progress-micro">
                                    <div class="progress-bar progress-primary" style="width: 34%;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-11 text-right">
                            <div class="txt-color-white inline-block">
                                <i class="txt-color-blueLight hidden-mobile">Last account activity <i class="fa fa-clock-o"></i> 52 mins ago |</i> Displaying <strong>44 of 259</strong>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        
        <!-- END MAIN CONTENT -->

@section scripts
{
    <script src="~/libs/js/plugin/summernote/summernote.min.js"></script>
    <script>
        //Gets tooltips activated
        $("#inbox-table [rel=tooltip]").tooltip();

        $("#inbox-table input[type='checkbox']").change(function () {
            $(this).closest('tr').toggleClass("highlight", this.checked);
        });

        $("#inbox-table .inbox-data-message").click(function () {
            $this = $(this);
            getMail($this);
        });
        $("#inbox-table .inbox-data-from").click(function () {
            $this = $(this);
            getMail($this);
        });
        function getMail($this) {
            //console.log($this.closest("tr").attr("id"));
            loadURL("/libs/cached/ajax/email-opened.html", $('#inbox-content > .table-wrap'));
        }

        $('.inbox-table-icon input:checkbox').click(function () {
            enableDeleteButton();
        });

        $(".deletebutton").click(function () {
            $('#inbox-table td input:checkbox:checked').parents("tr").rowslide();
            //$(".inbox-checkbox-triggered").removeClass('visible');
            //$("#compose-mail").show();
        });

        function enableDeleteButton() {
            var isChecked = $('.inbox-table-icon input:checkbox').is(':checked');

            if (isChecked) {
                $(".inbox-checkbox-triggered").addClass('visible');
                //$("#compose-mail").hide();
            } else {
                $(".inbox-checkbox-triggered").removeClass('visible');
                //$("#compose-mail").show();
            }
        }
    </script>

        @*
            Compose email
        *@

        <script type="text/javascript">

	// DO NOT REMOVE : GLOBAL FUNCTIONS!

	//runAllForms();

	 // PAGE RELATED SCRIPTS

	//$(".table-wrap [rel=tooltip]").tooltip();



    $('#emailbody').summernote({
        height: 250,
        focus: false,
        tabsize: 2
    });


	$(".show-next").click(function () {
	    $this = $(this);
	    $this.hide();
	    $this.parent().parent().parent().parent().parent().next().removeClass("hidden");
	})

	 $("#send").click(function () {

	    var $btn = $(this);
	    $btn.button('loading');

	    // wait for animation to finish and execute send script
	    setTimeout(function () {
	        //Insert send script here


	        // Load inbox once send is complete

	        loadURL("/libs/cached/ajax/email/email-list.html", $('#inbox-content > .table-wrap'));


	    }, 1000); // how long do you want the delay to be?
	});


        </script>

        @*Email preview*@

        <script type="text/javascript">

	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	//pageSetUp();

	// PAGE RELATED SCRIPTS

	$(".table-wrap [rel=tooltip]").tooltip();

	$(".replythis").click(function(){
	    loadURL("/libs/cached/ajax/email-reply.html", $('#inbox-content > .table-wrap'));
	})

        </script>


        @*Reply email*@

        <script type="text/javascript">

	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	//pageSetUp();
	//runAllForms();

	// PAGE RELATED SCRIPTS

	//$(".table-wrap [rel=tooltip]").tooltip();



		$('#emailbody').summernote({
			height : 250,
			focus : true,
			tabsize : 2
		});


	$(".show-next").click(function(){
		$this = $(this);
		$this.hide();
		$this.parent().parent().parent().parent().parent().next().removeClass("hidden");
	})

	$("#send").click(function(){

	    var $btn = $(this);
	    $btn.button('loading');

		// wait for animation to finish and execute send script
		setTimeout(function (){
			//Insert send script here


			// Load inbox once send is complete
		    loadURL("/libs/cached/ajax/email/email-list.html", $('#inbox-content > .table-wrap'))

         }, 1000); // how long do you want the delay to be?
	});

        </script>
}