﻿@using Microsoft.AspNetCore.Identity
@using com.bkss.IdentityModels

@using Microsoft.EntityFrameworkCore;

@inject UserManager<ApplicationUser> UserManager
@inject com.bkss.IdentityModels.ApplicationDbContext db
@inject IOptions<AppSettings> appSettings
    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{
        Html.RenderPartial("_CurrentUser");

        var route = ViewData["Route"] as string;
     }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@(route == "home" ? "active" :"")">
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
                <ul>
                    @if (User.IsInRole(AppRoles.AppAdminRole)) { }
                    <li class="@(route == "social" ? "active" :"")">
                        <a href="@Url.Action("social", "home")" title="Dashboard"><span class="menu-item-parent">System Analytics</span></a>
                    </li>
                    }
                    @foreach (var school in db.Schools.Include(p=>p.CountrySchool))
                    {
                        <li class="@(route == "home" ? "active" :"")">
                            <a href="@Url.Action("index", "home",new { sid=school.Id})" title="Dashboard"><span class="menu-item-parent">@school.CountrySchool.Name Dashboard</span></a>
                        </li>
                    }
                   
                </ul>
            </li>
            <li class="top-menu-invisible @(route == "intel" ? "active" :"")">
                <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">SmartAdmin Intel</span></a>
                <ul>
                    <li class="@(route == "applayout" ? "active" :"")">
                        <a href="@Url.Action("applayout", "intel")" title="Dashboard"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">App Layouts</span></a>
                    </li>
                    <li class="@(route == "skins" ? "active" :"")">
                        <a href="@Url.Action("skins", "intel")" title="Dashboard"><i class="fa fa-lg fa-fw fa-picture-o"></i> <span class="menu-item-parent">Prebuilt Skins</span></a>
                    </li>
                    <li class="@(route == "settings" ? "active" :"")">
                        <a href="@Url.Action("settings", "intel")" title="Dashboard"><i class="fa fa-cube"></i> <span class="menu-item-parent">App Settings</span></a>
                    </li>
                </ul>
            </li>
            <li class="@(route == "inbox" ? "active" :"")">
                <a href="@Url.Action("inbox", "home")"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Outlook</span><span class="badge pull-right inbox-badge margin-right-13">14</span></a>
            </li>
            <li class="@(route == "graphs" ? "active" :"")">
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Graphs</span></a>
                <ul>
                    <li class="@(route == "flot" ? "active" :"")">
                        <a href="@Url.Action("flot", "graphs")">Flot Charts</a>
                    </li>
                    <li class="@(route == "morris" ? "active" :"")">
                        <a href="@Url.Action("morris", "graphs")">Morris Charts</a>
                    </li>
                    <li class="@(route == "inline" ? "active" :"")">
                        <a href="@Url.Action("inline", "graphs")">Inline Charts</a>
                    </li>
                    <li class="@(route == "dygraphs" ? "active" :"")">
                        <a href="@Url.Action("dygraphs", "graphs")">Dygraphs</a>
                    </li>
                    <li class="@(route == "chartjs" ? "active" :"")">
                        <a href="@Url.Action("chartjs", "graphs")">Chart.js</a>
                    </li>
                    <li class="@(route == "highcharts" ? "active" :"")">
                        <a href="@Url.Action("highcharts", "graphs")">HighchartTable <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
                    </li>
                </ul>
            </li>
            <li class="@(route == "tables" ? "active" :"")">
                <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Tables</span></a>
                <ul>
                    <li class="@(route == "normal" ? "active" :"")">
                        <a href="@Url.Action("normal", "tables")">Normal Tables</a>
                    </li>
                    <li class="@(route == "datatables" ? "active" :"")">
                        <a href="@Url.Action("datatables", "tables")">Data Tables <span class="badge inbox-badge bg-color-greenLight hidden-mobile">responsive</span></a>
                    </li>
                    <li class="@(route == "jqgrid" ? "active" :"")">
                        <a href="@Url.Action("jqgrid", "tables")">Jquery Grid</a>
                    </li>
                </ul>
            </li>
            <li class="@(route == "forms" ? "active" :"")">
                <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Forms</span></a>
                <ul>
                    <li class="@(route == "smartelements" ? "active" :"")">
                        <a href="@Url.Action("smartelements", "forms")">Smart Form Elements</a>
                    </li>
                    <li class="@(route == "templates" ? "active" :"")">
                        <a href="@Url.Action("templates", "forms")">Smart Form Layouts</a>
                    </li>
                    <li class="@(route == "validation" ? "active" :"")">
                        <a href="@Url.Action("validation", "forms")">Smart Form Validation</a>
                    </li>
                    <li class="@(route == "bootstrap" ? "active" :"")">
                        <a href="@Url.Action("bootstrap", "forms")">Bootstrap Form Elements</a>
                    </li>
                    <li class="@(route == "plugins" ? "active" :"")">
                        <a href="@Url.Action("plugins", "forms")">Form Plugins</a>
                    </li>
                    <li class="@(route == "wizards" ? "active" :"")">
                        <a href="@Url.Action("wizards", "forms")">Wizards</a>
                    </li>
                    <li class="@(route == "editors" ? "active" :"")">
                        <a href="@Url.Action("editors", "forms")">Bootstrap Editors</a>
                    </li>
                    <li class="@(route == "dropzone" ? "active" :"")">
                        <a href="@Url.Action("dropzone", "forms")">Dropzone </a>
                    </li>
                    <li class="@(route == "cropping" ? "active" :"")">
                        <a href="@Url.Action("cropping", "forms")">Image Cropping <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
                    </li>
                </ul>
            </li>
            <li class="@(route == "element" ? "active" :"")">
                <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">UI Elements</span></a>
                <ul>
                    <li class="@(route == "general" ? "active" :"")">
                        <a href="@Url.Action("general", "element")">General Elements</a>
                    </li>
                    <li class="@(route == "buttons" ? "active" :"")">
                        <a href="@Url.Action("buttons", "element")">Buttons</a>
                    </li>
                    <li class="@(route == "icons" ? "active" :"")">
                        <a href="#">Icons</a>
                        <ul>
                            <li class="@(route == "fontawesome" ? "active" :"")">
                                <a href="@Url.Action("fontawesome", "icons")"><i class="fa fa-plane"></i> Font Awesome</a>
                            </li>
                            <li class="@(route == "glyphicons" ? "active" :"")">
                                <a href="@Url.Action("glyphicons", "icons")"><i class="glyphicon glyphicon-plane"></i> Glyph Icons</a>
                            </li>
                            <li class="@(route == "flags" ? "active" :"")">
                                <a href="@Url.Action("flags", "icons")"><i class="fa fa-flag"></i> Flags</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(route == "grid" ? "active" :"")">
                        <a href="@Url.Action("grid", "icons")">Grid</a>
                    </li>
                    <li class="@(route == "treeview" ? "active" :"")">
                        <a href="@Url.Action("treeview", "icons")">Tree View</a>
                    </li>
                    <li class="@(route == "nestedlists" ? "active" :"")">
                        <a href="@Url.Action("nestedlists", "icons")">Nestable Lists</a>
                    </li>
                    <li class="@(route == "jqueryui" ? "active" :"")">
                        <a href="@Url.Action("jqueryui", "icons")">JQuery UI</a>
                    </li>
                    <li class="@(route == "typography" ? "active" :"")">
                        <a href="@Url.Action("typography", "icons")">Typography</a>
                    </li>
                    <li>
                        <a href="#">Six Level Menu</a>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-folder-open"></i> Item #2</a>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-folder-open"></i> Sub #2.1 </a>
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-fw fa-file-text"></i> Item #2.1.1</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-fw fa-plus"></i> Expand</a>
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-fw fa-file-text"></i> File</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-fw fa-trash-o"></i> Delete</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-folder-open"></i> Item #3</a>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-folder-open"></i> 3ed Level </a>
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-fw fa-file-text"></i> File</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-fw fa-file-text"></i> File</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="@(route == "widgets" ? "active" :"")">
                <a href="@Url.Action("widgets", "home")"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent">Widgets</span></a>
            </li>
            <li class="@(route == "features" ? "active" :"")">
                <a href="#"><i class="fa fa-lg fa-fw fa-cloud"><em>3</em></i> <span class="menu-item-parent">Cool Features!</span></a>
                <ul>
                    <li class="@(route == "calendar" ? "active" :"")">
                        <a href="@Url.Action("calendar", "features")"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">Calendar</span></a>
                    </li>
                    <li class="@(route == "googlemap" ? "active" :"")">
                        <a href="@Url.Action("googlemap", "features")"><i class="fa fa-lg fa-fw fa-map-marker"></i> <span class="menu-item-parent">GMap Skins</span><span class="badge bg-color-greenLight pull-right inbox-badge">9</span></a>
                    </li>
                </ul>
            </li>	
            <li class="@(route == "appviews" ? "active" :"")">
                <a href="#"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span class="menu-item-parent">App Views</span></a>
                <ul>
                    <li class="@(route == "projects" ? "active" :"")">
                        <a href="@Url.Action("projects", "appviews")"><i class="fa fa-file-text-o"></i> Projects</a>
                    </li>
                    <li class="@(route == "blog" ? "active" :"")">
                        <a href="@Url.Action("blog", "appviews")"><i class="fa fa-paragraph"></i> Blog</a>
                    </li>
                    <li class="@(route == "gallery" ? "active" :"")">
                        <a href="@Url.Action("gallery", "appviews")"><i class="fa fa-picture-o"></i> Gallery</a>
                    </li>
                    <li class="@(route == "forum" ? "active" :"")">
                        <a href="#"><i class="fa fa-comments"></i> Forum Layout</a>
                        <ul>
                            <li class="@(route == "generalview" ? "active" :"")">
                                <a href="@Url.Action("generalview", "forum")">General View</a>
                            </li>
                            <li class="@(route == "topicview" ? "active" :"")">
                                <a href="@Url.Action("topicview", "forum")">Topic View</a>
                            </li>
                            <li class="@(route == "postview" ? "active" :"")">
                                <a href="@Url.Action("postview", "forum")">Post View</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(route == "profile" ? "active" :"")">
                        <a href="@Url.Action("profile", "appviews")"><i class="fa fa-group"></i> Profile</a>
                    </li>
                    <li class="@(route == "timeline" ? "active" :"")">
                        <a href="@Url.Action("timeline", "appviews")"><i class="fa fa-clock-o"></i> Timeline</a>
                    </li>
                </ul>
            </li>
            <li class="@(route == "commerce" ? "active" :"")">
                <a href="#"><i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span class="menu-item-parent">E-Commerce</span></a>
                <ul>
                    <li class="@(route == "orders" ? "active" :"")">
                        <a href="@Url.Action("orders", "commerce")">Orders</a>
                    </li>
                    <li class="@(route == "productview" ? "active" :"")">
                        <a href="@Url.Action("productview", "commerce")">Products View</a>
                    </li>
                    <li class="@(route == "detail" ? "active" :"")">
                        <a href="@Url.Action("detail", "commerce")">Products Detail</a>
                    </li>
                </ul>
            </li>	
            <li class="@(route == "misc" ? "active" :"")">
                <a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">Miscellaneous</span></a>
                <ul>
                    <li>
                        <a href="@Url.Action("index", "landing", new { area = "Landing" })" target="_blank">Landing Page <i class="fa fa-external-link"></i></a>
                    </li>
                    <li class="@(route == "chartjs" ? "active" :"")">
                        <a href="@Url.Action("pricing", "misc")">Pricing Tables</a>
                    </li>
                    <li class="@(route == "invoice" ? "active" :"")">
                        <a href="@Url.Action("invoice", "misc")">Invoice</a>
                    </li>
                    <li>
                        <a href="@Url.Action("login", "account")" target="_top">Login</a>
                    </li>
                    <li>
                        <a href="@Url.Action("register", "account")" target="_top">Register</a>
                    </li>
                    <li>
                        <a href="@Url.Action("lock", "account")" target="_top">Locked Screen</a>
                    </li>
                    <li class="@(route == "error404" ? "active" :"")">
                        <a href="@Url.Action("error404", "misc")">Error 404</a>
                    </li>
                    <li class="@(route == "error500" ? "active" :"")">
                        <a href="@Url.Action("error500", "misc")">Error 500</a>
                    </li>
                    <li class="@(route == "blank" ? "active" :"")">
                        <a href="@Url.Action("blank", "misc")">Blank Page</a>
                    </li>
                    <li class="@(route == "emailtemplate" ? "active" :"")">
                        <a href="@Url.Action("emailtemplate", "misc")">Email Template</a>
                    </li>
                    <li class="@(route == "search" ? "active" :""))">
                        <a href="@Url.Action("search", "misc")">Search Page</a>
                    </li>
                    <li class="@(route == "ckeditor" ? "active" :"")">
                        <a href="@Url.Action("ckeditor", "misc")">CK Editor</a>
                    </li>
                </ul>
            </li>
            <li class="chat-users top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-comment-o"><em class="bg-color-pink flash animated">!</em></i> <span class="menu-item-parent">Smart Chat API <sup>beta</sup></span></a>
                <ul>
                    <li class="@(route == "chat" ? "active" :"")">
                        <div class="display-users">
                            <input class="form-control chat-user-filter" placeholder="Filter" type="text">
                            <dl>
                                <dt>
                                    <a href="#" class="usr"
                                       data-chat-id="cha1"
                                       data-chat-fname="Sadi"
                                       data-chat-lname="Orlaf"
                                       data-chat-status="busy"
                                       data-chat-alertmsg="Sadi Orlaf is in a meeting. Please do not disturb!"
                                       data-chat-alertshow="true"
                                       rel="popover-hover"
                                       data-placement="right"
                                       data-html="true"
                                       data-content="
												<div class='usr-card'>
													<img src='/img/avatars/5.png' alt='Sadi Orlaf'>
													<div class='usr-card-content'>
														<h3>Sadi Orlaf</h3>
														<p>Marketing Executive</p>
													</div>
												</div>
											">
										  	<i></i>Sadi Orlaf
									</a>
                                </dt>
                                <dt>
                                    <a href="#" class="usr"
                                       data-chat-id="cha2"
                                       data-chat-fname="Jessica"
                                       data-chat-lname="Dolof"
                                       data-chat-status="online"
                                       data-chat-alertmsg=""
                                       data-chat-alertshow="false"
                                       rel="popover-hover"
                                       data-placement="right"
                                       data-html="true"
                                       data-content="
												<div class='usr-card'>
                                                    <img src='/img/avatars/1.png' alt='Jessica Dolof'>
													<div class='usr-card-content'>
														<h3>Jessica Dolof</h3>
														<p>Sales Administrator</p>
													</div>
												</div>
											">
										  	<i></i>Jessica Dolof
                                    </a>
                                </dt>
                                <dt>
                                    <a href="#" class="usr"
                                       data-chat-id="cha3"
                                       data-chat-fname="Zekarburg"
                                       data-chat-lname="Almandalie"
                                       data-chat-status="online"
                                       rel="popover-hover"
                                       data-placement="right"
                                       data-html="true"
                                       data-content="
												<div class='usr-card'>
                                                    <img src='/img/avatars/3.png' alt='Zekarburg Almandalie'>
													<div class='usr-card-content'>
														<h3>Zekarburg Almandalie</h3>
														<p>Sales Admin</p>
													</div>
												</div>
											">
										  	<i></i>Zekarburg Almandalie
									</a>
                                </dt>
                                <dt>
                                    <a href="#" class="usr"
                                       data-chat-id="cha4"
                                       data-chat-fname="Barley"
                                       data-chat-lname="Krazurkth"
                                       data-chat-status="away"
                                       rel="popover-hover"
                                       data-placement="right"
                                       data-html="true"
                                       data-content="
												<div class='usr-card'>
                                                    <img src='/img/avatars/4.png' alt='Barley Krazurkth'>
													<div class='usr-card-content'>
														<h3>Barley Krazurkth</h3>
														<p>Sales Director</p>
													</div>
												</div>
											">
										  	<i></i>Barley Krazurkth
									</a>
                                </dt>
                                <dt>
                                    <a href="#" class="usr offline"
                                       data-chat-id="cha5"
                                       data-chat-fname="Carmen"
                                       data-chat-lname="Electra"
                                       data-chat-status="incognito"
                                       rel="popover-hover"
                                       data-placement="right"
                                       data-html="true"
                                       data-content="
												<div class='usr-card'>
                                                    <img src='/img/avatars/female.png' alt='Carmen Electra'>
													<div class='usr-card-content'>
														<h3>Carmen Electra</h3>
														<p>Support Admin <small><i class='fa fa-music'></i> Playing Beethoven Classics</small></p>
													</div>
												</div>
											">
										  	<i></i>Carmen Electra (offline)
									</a>
                                </dt>
                                <dt>
                                    <a href="#" class="usr offline"
                                       data-chat-id="cha6"
                                       data-chat-fname="Lezley"
                                       data-chat-lname="Jacob"
                                       data-chat-status="incognito"
                                       rel="popover-hover"
                                       data-placement="right"
                                       data-html="true"
                                       data-content="
												<div class='usr-card'>
                                                    <img src='/img/avatars/male.png' alt='Lezley Jacob'>
													<div class='usr-card-content'>
														<h3>Lezley Jacob</h3>
														<p>Sales Director</p>
													</div>
												</div>
											">
										  	<i></i>Lezley Jacob (offline)
									</a>
                                </dt>
                            </dl>


                            <a href="@Url.Action("chat", "home")" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">About the API</a>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->