﻿@using Microsoft.AspNetCore.Identity
@using com.bkss.IdentityModels
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext appDb
@{

    var user =await  UserManager.FindByNameAsync(User.Identity.Name);
}
<div class="login-info">
    <span>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="~/img/avatars/sunny.png" alt="me" class="online" />
            <span>@user.FullName&nbsp;(@user.AccountType)&nbsp;</span>
            <i class="fa fa-angle-down"></i>
        </a>
    </span>
</div>