﻿@using Microsoft.AspNetCore.Identity
@using com.bkss.IdentityModels

@inject IOptions<AppSettings> AppSettings
@inject IHostingEnvironment HostingEnvironment
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
@* lang - The language of the page. *@
<html lang="en" id="@ViewBag.PageId" class="@AppSettings.Value.Theme.CurrentTheme">
<head asp-open-graph-prefix="true">
    @* The order of the tags in the head is important for best performance and compatibility. *@
    @* charset - The character encoding of the document. *@
    <meta charset="utf-8">
    @* viewport - Set the scale on mobile devices (For more info see https://developer.mozilla.org/en/docs/Mozilla/Mobile/Viewport_meta_tag). *@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
        characters. The site name appears at the end for better SEO. *@
    <title>@{
        var title = ViewBag.Title as string;
        if (title == null || title.Trim().Length==0) {
            <text>
                @AppSettings.Value.SiteTitle - Setups
            </text>
        }
        else
        {
            <text>
            @title - @AppSettings.Value.SiteTitle (Setups)
            </text>
        } 
        }
    </title>


    @* Icons & Platform Specific Settings (See http://rehansaeed.com/internet-favicon-madness/ for detailed
        information). The order of these icons is very important. *@

    @* Apple Icons - See https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Introduction.html#//apple_ref/doc/uid/30001261-SW1 *@
    @* apple-touch-icon-57x57.png - Android Stock Browser and non-Retina iPhone and iPod Touch *@
    <link rel="apple-touch-icon" sizes="57x57" href="~/img/icons/apple-touch-icon-57x57.png">
    @* apple-touch-icon-60x60.png - Same as apple-touch-icon-57x57.png, for non-retina iPhone with iOS7. *@
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/icons/apple-touch-icon-60x60.png">
    @* apple-touch-icon-72x72.png - iPad mini and the first- and second-generation iPad (1× display) on iOS ≤ 6 *@
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/icons/apple-touch-icon-72x72.png">
    @* apple-touch-icon-76x76.png - iPad mini and the first- and second-generation iPad (1× display) on iOS ≥ 7 *@
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/icons/apple-touch-icon-76x76.png">
    @* apple-touch-icon-114x114.png - iPhone (with 2× display) iOS ≤ 6 *@
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/icons/apple-touch-icon-114x114.png">
    @* apple-touch-icon-120x120.png - iPhone (with 2× and 3 display) iOS ≥ 7 *@
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/icons/apple-touch-icon-120x120.png">
    @* apple-touch-icon-144x144.png - iPad (with 2× display) iOS ≤ 6 *@
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/icons/apple-touch-icon-144x144.png">
    @* apple-touch-icon-152x152.png - iPad 3+ (with 2× display) iOS ≥ 7 *@
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/icons/apple-touch-icon-152x152.png">
    @* apple-touch-icon-180x180.png - iPad and iPad mini (with 2× display) iOS ≥ 8 *@
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/icons/apple-touch-icon-180x180.png">

    @* favicon-32x32.png - For Safari on Mac OS. *@
    <link rel="icon" type="image/png" href="~/img/icons/favicon-32x32.png" sizes="32x32">
    @* favicon-192x192.png - For Android Chrome M36 to M38 this icon is used. M39+ uses the manifest.json file specified below. *@
    <link rel="icon" type="image/png" href="~/img/icons/favicon-192x192.png" sizes="192x192">
    @* favicon-16x16.png - The classic favicon, displayed in the tabs. *@
    <link rel="icon" type="image/png" href="~/img/icons/favicon-16x16.png" sizes="16x16">

    @* apple-mobile-web-app-title - The name of the application if pinned to the IOS start screen. *@
    <meta name="apple-mobile-web-app-title" content="@AppSettings.Value.SiteShortTitle">
    @* apple-mobile-web-app-capable - Hide the browsers user interface on IOS, when the app is run in 'stand-alone'
        mode. Any links to other pages that are clicked whilst your app is in stand-alone mode will launch the full
        Safari browser. *@
    <meta name="apple-mobile-web-app-capable" content="yes">
    @* apple-mobile-web-app-status-bar-style - default/black/black-translucent Styles the IOS status bar. Using
        black-translucent makes it transparent and overlays it on top of your site, so make sure you have enough margin. *@
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    @* Apple Startup Images - These splash screen images are only shown if apple-mobile-web-app-capable is set to true.
        See https://gist.github.com/tfausak/2222823 *@
    @* apple-touch-startup-image-1536x2008.png - iOS 6 & 7 iPad (retina, portrait) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
    @* apple-touch-startup-image-1496x2048.png - iOS 6 & 7 iPad (retina, landscape) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)">
    @* apple-touch-startup-image-768x1004.png - iOS 6 iPad (portrait) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)">
    @* apple-touch-startup-image-748x1024.png - iOS 6 iPad (landscape) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)">
    @* apple-touch-startup-image-640x1096.png - iOS 6 & 7 iPhone 5 *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
    @* apple-touch-startup-image-640x920.png - iOS 6 & 7 iPhone (retina) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
    @* apple-touch-startup-image-320x460.png - iOS 6 iPhone *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)">

    @* Android/Chrome *@
    @* manifest-json - The location of the browser configuration file. It contains locations of icon files, name of the
        application and default device screen orientation. Note that the name field is mandatory.
        See https://developer.chrome.com/multidevice/android/installtohomescreen. *@
    <link rel="manifest" href="@Url.RouteUrl(HomeControllerRoute.GetManifestJson).TrimEnd('/')">
    @* theme-color - The colour of the toolbar in Chrome M39+
        See http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android *@
    <meta name="theme-color" content="#1E1E1E">
    @* mobile-web-app-capable - Run Android/Chrome version M31 to M38 in stand-alone mode, hiding the browser chrome. *@
    <meta name="mobile-web-app-capable" content="yes">

    @* Windows 7 Taskbar - This depends on your site, so no code here. See http://www.buildmypinnedsite.com/windows7 *@

    @* Windows 8.1/10 IE11/Edge - See http://www.buildmypinnedsite.com *@
    @* msapplication-config - The location of the browser configuration file. This is not required if the
        browserconfig.xml file is at the root of the site (Which it is). *@
    @* <meta name="msapplication-config" content="@Url.RouteUrl(HomeControllerRoute.GetBrowserConfigXml).TrimEnd('/')"> *@


    @* Move site.css to a content delivery network (CDN) for better performance. *@
    <link asp-append-version="true" rel="stylesheet" href="~/css/site.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/css/app.css" />
    <meta name="x-font-awesome-stylesheet-fallback-test" class="fa">
    <environment names="@EnvironmentName.Development">
        <link asp-append-version="true" rel="stylesheet" href="~/css/font-awesome.css" />
    </environment>
    <environment names="@EnvironmentName.Staging,@EnvironmentName.Production">
        <link rel="stylesheet" href="@ContentDeliveryNetwork.MaxCdn.FontAwesomeUrl"
              asp-subresource-integrity-href="~/css/font-awesome.css" />
    </environment>
    <link asp-append-version="true" rel="stylesheet" href="~/css/templates.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/css/home/setups.css" />
    @* Description - Used by search engines. Aim for more than 160 characters. *@
    <meta name="description" content="@ViewBag.Description">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">


    @* Canonical - The URL of the current page. Stops case differences and http/https being treated as different URL's
        by search engines. The settings in this project should make this redundant, unless you are mixing HTTP and
        HTTPS or you have multiple URL's to the same resource which you should avoid.
        (See http://googlewebmastercentral.blogspot.co.uk/2009/02/specify-your-canonical.html). *@
    @*<link rel="canonical" href="">*@


    @* Atom 1.0 Feed - Link to the. This enables the 'Subscribe to this page' button in FireFox. *@
    <link href="@Url.RouteUrl(HomeControllerRoute.GetFeed)" rel="alternate" title="@AppSettings.Value.SiteTitle Feed" type="application/atom+xml">


    @* OpenSearch - (See http://www.hanselman.com/blog/CommentView.aspx?guid=50cc95b1-c043-451f-9bc2-696dc564766d and http://www.opensearch.org) *@
    <link href="@Url.RouteUrl(HomeControllerRoute.GetOpenSearchXml).TrimEnd('/')" rel="search" title="High School Management System Search" type="application/opensearchdescription+xml">


    @* You can use the head section to render additional meta tags. *@
    @RenderSection("head", required: false)
    
    <style type="text/css">
       body {
				font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
			}
            
			h1, h2, h3, h4, h5 {
				margin-top:				2px;
				margin-bottom:			2px;
			}
			.jGrowl .manilla {
				background-color: 		#FFF1C2;
				color: 					navy;
			}
			
			.jGrowl .flora {
				background: 			#E6F7D4 url(flora-notification.png) no-repeat;
				-moz-border-radius: 	0px;
				-webkit-border-radius:	0px;
				opacity: 				1;
				filter: 				alpha(opacity = 100);
				width: 					270px;
				height: 				90px;
				padding: 				0px;
				overflow: 				hidden;
				border-color: 			#5ab500;
			}
			.jGrowl .flora .message {
				padding: 				5px;
				color: 					#000;
			}
			
			.jGrowl .flora .header {
				background: 			url(flora-header.png) no-repeat;
				padding: 				5px;
			}
			.jGrowl .flora .close {
				background: 			url(flora-close.png) no-repeat;
				padding: 				5px;
				color: 					transparent;
				padding: 				0px;
				margin: 				5px;
				width:					17px;
			}
			#random {
				padding: 				20px;
				width: 					1500px;
				background-color: 		#ff7070;
			}
			#logs {
				margin-top: 			30px;
				background-color:		#efefef;
				border: 				1px solid #aaa;
				padding: 				10px;
			}
    </style>
    <style>
        .fuelux .step-content .step-pane {
            display: none;
        }

        .fuelux .step-content div.active {
            display: block;
        }

            /*.fuelux .step-content .active .btn-group label.active {
                display: inline-block;
            }*/
    </style>
</head>
<body class="@ViewBag.PageClass @AppSettings.Value.Theme.CurrentTheme" style="height:auto !important">
    @{ Html.RenderPartial("_Header", RenderSection("topright", false)); }
    @*@{ if (User.Identity.IsAuthenticated) { Html.RenderPartial("_Aside"); } }*@
    <div class="main" role="main">
        @*@{ if (User.Identity.IsAuthenticated) { Html.RenderPartial("_Ribbon"); } }*@
        @RenderBody()
    </div>
    <section >
        @if (User.Identity.IsAuthenticated)
        {
            Html.RenderPartial("_Footer");
            if (AppSettings.Value.Theme.EnableTiles)
            {
                Html.RenderPartial("_Tiles");
            }
        }
    </section>
   


    <environment names="@EnvironmentName.Development">
        @*<script asp-append-version="true" src="~/js/jquery.js"></script>*@
        <script asp-append-version="true" src="~/libs/js/jquery-2.1.1.min.js"></script>
        <script> if (!window.jQuery) { document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"><\/script>'); } </script>
        <script asp-append-version="true" src="~/js/jquery-validate.js"></script>
        <script asp-append-version="true" src="~/js/jquery-validate-unobtrusive.js"></script>
        <script asp-append-version="true" src="~/js/bootstrap.js"></script>
    </environment>
    <environment names="@EnvironmentName.Staging,@EnvironmentName.Production">
        @* crossorigin - Enable reporting of errors from third party scripts.
            See https://raygun.com/blog/2015/05/fixing-script-errors/
           asp-subresource-integrity-src - Ensures the CDN resource has not been tampered with.
            See http://rehansaeed.com/subresource-integrity-taghelper-using-asp-net-core *@
        <script crossorigin="anonymous"
                src="@ContentDeliveryNetwork.Google.JQueryUrl"
                asp-subresource-integrity-src="~/js/jquery.js"></script>
        <script crossorigin="anonymous"
                src="@ContentDeliveryNetwork.Microsoft.JQueryValidateUrl"
                asp-subresource-integrity-src="~/js/jquery-validate.js"></script>
        <script crossorigin="anonymous"
                src="@ContentDeliveryNetwork.Microsoft.JQueryValidateUnobtrusiveUrl"></script>
        <script crossorigin="anonymous"
                src="@ContentDeliveryNetwork.Microsoft.BootstrapUrl"
                asp-subresource-integrity-src="~/js/bootstrap.js"></script>
    </environment>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script> if (!window.jQuery.ui) { document.write('<script src="/libs/js/jquery-ui-1.10.3.min.js"><\/script>'); } </script>

    <script asp-append-version="false" src="~/js/libs.js"></script>
    <environment names="@EnvironmentName.Development">
        <script asp-append-version="true" src="~/js/site.js"></script>
    </environment>
    <environment names="@EnvironmentName.Staging,@EnvironmentName.Production">
        @* Move site.js to a content delivery network (CDN) for better performance. *@
        <script asp-append-version="true" src="~/js/site.js"></script>
    </environment>
        @if (User.Identity.IsAuthenticated && AppSettings.Value.Theme.EnableLoader)
        {
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
            <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/libs/js/plugin/pace/pace.min.js"></script>

        }

        <!-- Voice command : plugin -->
        <script asp-append-version="false" src="~/libs/js/voicecommand.min.js"></script>

        <!-- SmartChat UI : plugin -->
        <script asp-append-version="false" src="~/js/chat.js"></script>

        <!-- DataTables : plugin -->
        <script asp-append-version="false" src="~/js/data-tables.js"></script>

        <!-- jQGrid : plugin -->
        <script asp-append-version="false" src="~/js/jquery-grid.js"></script>

        <!-- Forms : plugin -->
        <script asp-append-version="false" src="~/js/jquery-forms"></script>

        <!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip, Morris, Sparkline, EasyPie -->
        <script asp-append-version="false" src="~/js/graphs.js"></script>

        <!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
        <script asp-append-version="false" src="~/js/vector-map.js"></script>

        <!-- Full Calendar -->
        <script asp-append-version="false" src="~/js/f-c.js"></script>

    @*RENDER PAGE SCRIPTS HERE*@
    <script asp-append-version="false" src="~/libs/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script asp-append-version="false" src="~/libs/js/plugin/fuelux/wizard/wizard.min.js"></script>

    <script asp-append-version="true" src="~/js/home/setups.js"></script>
    @{
        string h = ViewBag.Warning;
        if (h != null)
        {
            <text>
            <script>
                var msg = {'data':'@h','typ':1};
            </script>
            </text>

        }
        else
        {
            h = ViewBag.Message;
            if (h != null)
            {
                <text>
                <script>
                    var msg = {'data':'@h','typ':0};
                </script>
                </text>

            }

        }
    }
    @RenderSection("scripts", required: false)
        <!-- DO NOT REMOVE : GLOBAL FUNCTIONS! -->
    <script>

        jQuery("#step-1 > a").on('click', function (e) {
            e.stopPropagation();
            var path = jQuery(this).parent().data("link")
            trySubmit(path)
        }),
    jQuery("#step-2 > a").on('click', function (e) {
        e.stopPropagation();
        var path = jQuery(this).parent().data("link")
        trySubmit(path)
    }),
    jQuery("#step-3 > a").on('click', function (e) {
        e.stopPropagation();
        var path = jQuery(this).parent().data("link")
        trySubmit(path)
    }), jQuery("#step-4 > a").on('click', function (e) {
        e.stopPropagation();
        var path = jQuery(this).parent().data("link")
        trySubmit(path)
    }), jQuery("#step-5 > a").on('click', function (e) {
        e.stopPropagation();
        var path = jQuery(this).parent().data("link")
        trySubmit(path)
    }),
        jQuery('.next').click(function () {
            trySubmit(jQuery(this).data("link"))
        })

        function trySubmit(path) {
            if (jQuery('input:text').val()) {
                //jQuery(this).parents('p').addClass('warning');
                if (!confirm('You have unsaved data. This data will be lost\n\n Proceed Anyway..')) {
                    // Save it!
                    jQuery("#wizard-1").submit();
                } else {
                    // Do nothing!
                    window.location = path + ''
                }
            } else {
                window.location = path + ''
            }

        }
        (function ($) {
            $(function () {
                $.jGrowl.defaults.pool = 5;
                $.jGrowl.defaults.closerTemplate = '<div>Hide all notifications</div>';
                // This value can be true, false or a function to be used as a callback when the closer is clciked
                $.jGrowl.defaults.closer = function () {
                    //console.log("Closing everything!", this);
                };

                // A callback for logging notifications.
                $.jGrowl.defaults.log = function (e, m, o) {
                    $('#logs').append("<div><strong>#" + $(e).attr('id') + "</strong> <em>" + (new Date()).getTime() + "</em>: " + m + " (" + o.theme + ")</div>")
                }
            });
        })(jQuery);

        jQuery(document).ready(function () {
            typeof msg !== "undefined" && jQuery.smallBox({
                title: "System Alert!",
                content: "<p>"+msg.data+"</p><br/><i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
                color: msg.typ == 1 ? "#FF5520" : "#5F895F",
                iconSmall: "fa fa-times-circle bounce animated",
                timeout: 8000
            }),pageSetUp();
        });
                

        </script>

</body>
</html>