﻿@using Microsoft.AspNetCore.Identity
@using com.bkss.IdentityModels
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject IOptions<AppSettings> AppSettings
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext appDb

@model ActivateViewModel
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Activate Account";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Made for High School Admistration";

    ViewData["Route"] = "home";

    var user = await UserManager.FindByNameAsync(User.Identity.Name);

    Layout = "_SetupsLayout";
}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
{
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="Bourne Koloh">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@bkss_tw">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">
}
            <!-- MAIN CONTENT -->
            <div id="content">

                <!-- row -->
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div class="row">
                            <div class="col-sm-11">
                                <div class="text-center error-box">
                                    <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Account Not Activated</h1>
                                    <h2 class="font-xl"><strong>Oooops, It seems your subscription is not ACTIVE!</strong></h2>
                                    <br />
                                    <p class="lead semi-bold">
                                        <strong>Hey there @AppSettings.Value.Profile.Name !!<br />It looks like your account subscription is Not Activated or has Expired.</strong><br><br>
                                        <small>
                                            You need to re-activate you account to proceed. You can activate your subscription by using the options below:
                                        </small>
                                    </p>
                                    <ul class="error-search text-left font-md" style="width:60%">
                                        <li style="list-style:none"><i class="fa fa-arrow-right fa-md fa-fw"></i>&nbsp;<a href="javascript:void(0);"><small>Visit our website and complete activation </small></a></li>
                                        <li style="list-style:none"><i class="fa fa-mail-forward fa-md fa-fw"></i>&nbsp;<a href="javascript:void(0);"><small>Contact @AppSettings.Value.SiteShortTitle IT Staff and puchase activation voture</small></a></li>
                                        <li style="list-style:none"><i class="fa fa-map-marker fa-md fa-fw"></i>&nbsp;<a href="javascript:void(0);"><small>Visit our nearest office with your product consumer key</small></a></li>
                                    </ul>
                                    <hr />
                                    <p class="text-align-center">
                                        If you perform the above suggested solution, you will be provided with an activation token, please enter it below;
                                    </p>
                                   <form asp-controller="Home" asp-action="Activate" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST">
                                       <div class="error-search"  style="width:60%">
                                           <div class="input-group">
                                               <span class="input-group-addon"><i class="fa fa-key fa-lg fa-fw"></i></span>
                                               <input asp-for="Code" class="form-control input-lg" placeholder="Enter Activation Token Here....." value="">
                                           </div>
                                           <div asp-validation-summary="All"></div>
                                           <div class="text-align-center">
                                               <br />
                                               <button type="submit" class="btn btn-md btn-primary" id="save-school">
                                                   <i class="fa fa-send"></i> &nbsp;<strong>Activate..</strong>
                                               </button>
                                           </div>
                                       </div>
                                   </form>
                                    <hr />
                                    <p class="lead semi-bold">
                                        Key didn't work?
                                        <div style="margin-bottom:100px">
                                            <ul class="error-search text-left font-md" style="width:50%">
                                                <li style="list-style:none"><i class="fa fa-arrow-right fa-md fa-fw"></i>&nbsp;<a href="javascript:void(0);"><small>Report error!</small></a></li>
                                                <li style="list-style:none"><i class="fa fa-arrow-right fa-md fa-fw"></i>&nbsp;<a href="javascript:void(0);"><small>Go Home</small></a></li>
                                            </ul>
                                        </div>
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- end row -->

            </div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
{
            <script asp-append-version="false" src="~/js/home/page.js"></script>
}