﻿@using Microsoft.AspNetCore.Identity
@using com.bkss.IdentityModels
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject IOptions<AppSettings> AppSettings
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext appDb

@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Home";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Made for High School Admistration";

    ViewData["Route"] = "home";

    var user = await UserManager.FindByNameAsync(User.Identity.Name);
}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
{
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="Bourne Koloh">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@bkss_tw">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">
}
            <!-- MAIN CONTENT -->
            
            @if (user.AccountType == AccountType.Admin)
                {
                    Html.RenderPartial("_AdminDashboard");
                }
                else if (user.AccountType == AccountType.Staff)
                {
                    Html.RenderPartial("_StaffDashboard");
                }
                else if (user.AccountType == AccountType.Guardian)
                {
                    Html.RenderPartial("_ParentDashboard");
                }
                else if (user.AccountType == AccountType.Student)
                {
                    Html.RenderPartial("_StudentDashboard");
                }
            }

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
{
            <script asp-append-version="false" src="~/js/home/page.js"></script>
}