﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@inject IOptions<AppSettings> AppSettings
@model AddYearViewModel
@{
    //For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    //
    
}
<style>
    .chosen-container-single .chosen-single{
        height:48px !important;
        line-height:48px;
        border-radius: 0px;
    }
</style>
<section>
    <form asp-controller="Setups" asp-action="AddYear" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="add-year-form">
        <h3>
            <br />
            <strong>Step 1 </strong> - Add Academic Year
            <span class="font-sm" style="float:right">Years (@dbContext.Years.Count())<span>
        </h3>
        <br />
        <div class="col-sm-12">
            <div class="row">
                <div id="bootstrap-wizard-1" class="col-sm-12">
                    <section class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user-md fa-lg fa-fw"></i></span>
                                        <input asp-for="Name" class="form-control input-lg" placeholder="Year Name" value="@Model.Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-lg fa-fw"></i></span>
                                        <input asp-for="Starts" id="yearstarts" class="form-control input-lg" placeholder="Year Starts" value="@DateTime.Now.ToString("MMM-dd-yyyy")">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-lg fa-fw"></i></span>
                                        <input asp-for="Ends" id="yearends" class="form-control input-lg" placeholder="Year Ends" value="@DateTime.Now.AddYears(1).ToString("MMM-dd-yyyy")">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="text-align-center">
            <hr />
            <button type="submit" class="btn btn-md btn-primary" id="save-school">
                <i class="fa fa-send"></i> &nbsp;<strong>Save Year</strong>
            </button>
        </div>
    </form>
</section>
@*<h3><strong>Step 1 </strong> - Academic Years</h3>

    <!-- wizard form starts here -->
    <fieldset>

        <div class="form-group has-warning">
            <label class="col-md-2 control-label">Input warning</label>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="fa fa-warning"></i></span>
                </div>
                <span class="help-block">Something may have gone wrong</span>
            </div>

        </div>

        <div class="form-group has-error">
            <label class="col-md-2 control-label">Input error</label>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-remove-circle"></i></span>
                </div>
                <span class="help-block"><i class="fa fa-warning"></i> Please correct the error</span>
            </div>
        </div>

        <div class="form-group has-success">
            <label class="col-md-2 control-label">Input success</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="fa fa-check"></i></span>
                </div>
                <span class="help-block">Something may have gone wrong</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Input icon success</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="input-icon-left">
                            <i class="fa txt-color-green fa-check"></i>
                            <input class="form-control" placeholder="Left Icon" type="text">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </fieldset>*@
