﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@inject IOptions<AppSettings> AppSettings
@model AddSubjectViewModel
@{
    //For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    //
    var SchoolsList = new List<SelectListItem>();
    var DepartmentsList = new List<SelectListItem>();
    //var LevelList = new List<SelectListItem>();

    int subId = ViewBag.Subject == null ? 0 : ViewBag.Subject;

    foreach (var s in dbContext.Schools.Include(k=>k.CountrySchool).ToList())
    {
        SchoolsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.CountrySchool.Name, Selected = false });

    }
    foreach(var j in dbContext.Departments.Where(j=>j.Type == DepartmentType.Academic).ToList())
    {
        DepartmentsList.Add(new SelectListItem() { Value = "" + j.Id, Text = j.Name, Selected = false });

    }
    var LevelList = dbContext.Levels.ToList();

    var CurrentLevels = new List<AcademicLevel>();

    if(subId > 0)
    {
        var subjects = dbContext.Subjects.Include(l=>l.Level).Where(p => p.Id == subId).ToList();

        foreach(var l in subjects)
        {
            CurrentLevels.Add(l.Level);
        }
    }
}

<style>
    .chosen-container-single .chosen-single{
        height:48px !important;
        line-height:48px;
        border-radius: 0px;
    }
</style>
<section class="col-sm-12">
    <form asp-controller="Setups" asp-action="AddSubject" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="add-school-form">
        <h3>
            <br />
            <strong>Step 4 </strong> - Add Subject
            <span class="font-sm" style="float:right">Subjects (@dbContext.Subjects.Count())</span>
        </h3>
        <br />
        <div class="col-sm-12">
            <br />
            <div class="row">
                <div id="bootstrap-wizard-1" class="col-sm-12">
                    <div class="col-sm-12">
                        <section class="col-sm-6">
                            <h4><i class="fa fa-paperclip"></i>&nbsp;&nbsp;<strong>Tution </strong></h4>

                            <div class="row">

                                <div class="col-sm-11">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-home fa-lg fa-fw"></i></span>
                                            @Html.DropDownListFor(m => m.Department, DepartmentsList, " -- Department -- ", new { @class = "form-control input-lg chosen-select", style = "min-width:100%;height:100% !important" })
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </section>

                        <section class="col-sm-6">
                            <h4><i class="fa fa-address-book"></i>&nbsp;&nbsp;<strong>Subject Details </strong></h4>

                            <div class="row" style="margin-top:10px">

                                <div class="col-sm-11">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-address-card fa-lg fa-fw"></i></span>
                                            <input asp-for="Name" class="form-control input-lg" placeholder="E.G Maths, English..." type="text" value="">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-11">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-home fa-lg fa-fw"></i></span>
                                            @Html.DropDownListFor(m => m.Levels, new MultiSelectList(LevelList, "Id", "Name", CurrentLevels), " -- Academic Level -- ", new { @class = "form-control input-lg chosen-select", data_placeholder = " -- Academic Level -- ", style = "min-width:100% !important;min-height:50px !important", multiple = "multiple" })
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="row">

                                <div class="col-sm-11">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-key fa-lg fa-fw"></i> </span>
                                            @Html.CheckBoxFor(m => m.Compulsory, new { @class = "form-checkbox", style = "width:25px;height:28px;margin:10px;display:inline" })
                                            <div class="" style="display:inline;font-size:22px">Mandatory</div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </section>
                    </div>
                </div>
                <hr />
                <div class="col-sm-12">

                    @if (dbContext.Exams.Count() > 0 && subId > 0)
                    {
                        var subjects = dbContext.Subjects.Include(l => l.Exams).First(p => p.Id == subId);
                        
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false">
                            <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-paperclip"></i> </span>
                                <h2>Exams</h2>
                            </header>

                            <!-- widget div-->
                            <div class="col-sm-12">

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body row">
                                    @foreach (var e in subjects.Exams.ToList())
                                    {
                                        var ex = dbContext.Exams.Include(j => j.Type).Single(l => l.Id == e.Id);
                                        <section class="col-sm-3" style="padding:4px">
                                            <h3><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;<strong>@ex.Type.Name </strong></h3>

                                            <div class="row" style="margin-top:10px">

                                                <div class="col-sm-12">
                                                    <ul>
                                                        <li>Totals = @ex.Type.TotalScore</li>
                                                        <li>Conversion = @ex.Type.ConversionConstant</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-question fa-lg fa-fw"></i></span>
                                                            @Html.CheckBox("SelectedExam", new { @class = "form-checkbox", style = "width:25px;height:28px;margin:10px;display:inline" })
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </section>
                                    }

                                </div>
                                </div>
                            </div>
                        }
                        else
                        {
                        
                            <h4><i class="fa fa-paperclip"></i>&nbsp;&nbsp;<strong>Exams </strong></h4>
                            <p class="text-align-center">
                                <br />
                                No Exams have been configured for this subject.<br /><br /> Use the Exams tab to setup exams.
                            </p>

                        }
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="text-align-center">
                <hr />
                <button type="submit" class="btn btn-md btn-primary" id="save-school">
                    <i class="fa fa-send"></i> &nbsp;<strong>Save Subject</strong>
                </button>
            </div>
</form>
</section>
