﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@inject IOptions<AppSettings> AppSettings
@model AddExamTypeViewModel
@{
    //For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    //
    var SchoolsList = new List<SelectListItem>();

    foreach (var s in dbContext.Schools.Include(j=>j.CountrySchool).ToList())
    {
        //
        SchoolsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.CountrySchool.Name, Selected = false });
    }
}
<style>
    .chosen-container-single .chosen-single{
        height:48px !important;
        line-height:48px;
        border-radius: 0px;
    }
</style>
<section>
    <form asp-controller="Setups" asp-action="AddExamType" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="add-year-form">
        <h4>
            <br />
            Add Exam Type
            <span class="font-sm" style="float:right">
                @if (dbContext.ExamTypes.Count() > 0)
                {
                    <text>
                <a href="@Url.RouteUrl(SetupsControllerRoute.AddExam,new { mode = 0})" class="btn btn-sm btn-info"><i class="fa fa-plus"></i>&nbsp; Add Exam </a>
                &nbsp;
                </text>
                }
                <a href="@Url.RouteUrl(SetupsControllerRoute.AddExam,new { mode = 2})" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>&nbsp; Add Grade </a>
                 &nbsp; Exam Types (@dbContext.ExamTypes.Count())<span>
        </h4>
        <br />
       <div class="col-sm-12">
           <hr />
           <div class="row">
               <div id="bootstrap-wizard-1" class="col-sm-12">
                   <section class="col-sm-12"> 
                       <div class="row">
                           <div class="col-sm-12">
                               <div class="form-group">
                                   <div class="input-group">
                                       <span class="input-group-addon"><i class="fa fa-user-md fa-lg fa-fw"></i></span>
                                       <input asp-for="Name" class="form-control input-lg" placeholder="Name e.g CAT 1,..." value="@Model.Name">
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="row">

                           <div class="col-sm-12">
                               <div class="form-group">
                                   <div class="input-group">
                                       <span class="input-group-addon"><i class="fa fa-cart fa-lg fa-fw"></i></span>
                                       <input asp-for="Total" class="form-control input-lg" placeholder="Maximum Score, e.g 30, 100, ..." value="">
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="row">

                           <div class="col-sm-12">
                               <div class="form-group">
                                   <div class="input-group">
                                       <span class="input-group-addon"><i class="fa fa-times fa-lg fa-fw"></i></span>
                                       <input asp-for="Conversion" class="form-control input-lg" placeholder="Conversion Constant, e.g 1/2, 1/3, 0.4, ..." value="">
                                   </div>
                               </div>

                           </div>

                       </div>
                   </section>
               </div>
           </div>
       </div>

        <div class="text-align-center">
            <hr />
            <button type="submit" class="btn btn-md btn-primary" id="">
                <i class="fa fa-send"></i> &nbsp;<strong>Save Exam Type</strong>
            </button>
        </div>
    </form>
</section>
@*<h3><strong>Step 1 </strong> - Academic Years</h3>

    <!-- wizard form starts here -->
    <fieldset>

        <div class="form-group has-warning">
            <label class="col-md-2 control-label">Input warning</label>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="fa fa-warning"></i></span>
                </div>
                <span class="help-block">Something may have gone wrong</span>
            </div>

        </div>

        <div class="form-group has-error">
            <label class="col-md-2 control-label">Input error</label>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-remove-circle"></i></span>
                </div>
                <span class="help-block"><i class="fa fa-warning"></i> Please correct the error</span>
            </div>
        </div>

        <div class="form-group has-success">
            <label class="col-md-2 control-label">Input success</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="fa fa-check"></i></span>
                </div>
                <span class="help-block">Something may have gone wrong</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Input icon success</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="input-icon-left">
                            <i class="fa txt-color-green fa-check"></i>
                            <input class="form-control" placeholder="Left Icon" type="text">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </fieldset>*@
