﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AddOfficeViewModel
@{
    //
    var DepartmentsList = new List<SelectListItem>();
    int SchoolId = int.Parse("0" + ViewBag.SchoolId);
    if (SchoolId == 0 && dbContext.Schools.Count() > 0)
    {
        SchoolId = dbContext.Schools.First().Id;
    }
    School school = null;
    if(SchoolId > 0)
    {
        school = dbContext.Schools.Include(l => l.Streams).Single(p => p.Id == SchoolId);
        foreach (var s in dbContext.Departments.Include(l => l.School).Where(l => l.SchoolId == SchoolId && l.Type == DepartmentType.Adminstration).ToList())
        {
            DepartmentsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name, Selected = false });
        }

    }
}

<section>
    <form asp-controller="Setups" asp-action="AddOffice" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="add-classroom-form">
        <div class="">
            <h3>
                <br />
                <strong>Step 5 </strong> - Add Offices
                <span class="font-sm" style="float:right">Total Offices(@(school!=null?dbContext.Offices.Include(k=>k.Department).Where(k=>k.Department.SchoolId==school.Id).Count()+"":"0"))</span>
            </h3>
            <br />
            <div class="col-sm-12">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa-lg fa-fw"></i></span>
                                <input class="form-control input-lg" placeholder="Office Name" type="text" asp-for="Name">

                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa-lg fa-fw"></i></span>
                                <input class="form-control input-lg" placeholder="School Name" type="text" value="@school?.CountrySchool.Name" readonly>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map-marker fa-lg fa-fw"></i></span>
                                @Html.DropDownListFor(p => p.Department, DepartmentsList, "-- Select Department --", new { @class = "form-control input-lg" })

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="text-align-center">
            <hr />
            <button type="submit" class="btn btn-md btn-primary" id="save-class">
                <i class="fa fa-send"></i> &nbsp;<strong>Save Office</strong>
            </button>
        </div>
    </form>
</section>
