﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@inject IOptions<AppSettings> AppSettings
@inject com.bkss.Services.AppCache AppCache

@model AddStaffRolesViewModel
@{
    //For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    //
    var SchoolsList = new List<SelectListItem>();

    var LevelsList = new List<SelectListItem>();

    var StreamsList = new List<SelectListItem>();

    var StaffList = new List<SelectListItem>();

    var Countries = new List<SelectListItem>();

    foreach (var s in dbContext.Schools.Include(m=>m.CountrySchool).Include(j=>j.Streams).ToList())
    {
        //
        SchoolsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.CountrySchool.Name });
        foreach(var k in s.Streams)
        {
            StreamsList.Add(new SelectListItem() { Value = ""+k.Id, Text = k.Name+" (For "+ s.CountrySchool.Name + ")" });

        }
    }
    //
    foreach (var s in dbContext.Staffs.Include(m => m.ApplicationUser).ToList())
    {
        //
        StaffList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.ApplicationUser.FullName});
    }

    //
    //
    foreach (var s in dbContext.Countries.ToList())
    {
        //
        Countries.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name });
    }
}
<style>
    .chosen-container-single .chosen-single{
        height:48px !important;
        line-height:48px;
        border-radius: 0px;
    }
</style>
<section>
        <h3>
            <br />
            <strong>Step 4 </strong> - Staff Roles
            <span class="font-sm" style="float:right">All Roles (@dbContext.UserRoles.Count())<span>
        </h3>
        <br />

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="alert alert-danger hidden-lg hidden-md hidden-sm">
                    <b>Please note:</b>
                    This plugin is non-responsive
                </div>

                <!-- Widget ID (each widget will need unique ID)-->

                <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget" style="">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-file-image-o txt-color-darken"></i> </span>
                        <h2 class="hidden-xs hidden-sm">Add Staff Roles </h2>

                        <ul class="nav nav-tabs pull-right in" id="myTab">

                            <li class="active">
                                <a data-toggle="tab" href="#ss1"><i class="fa fa-plus-square text-success"></i> <span class="hidden-mobile hidden-tablet">Create Roles</span></a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#ss2"><i class="fa fa-cloud-upload text-primary"></i> <span class="hidden-mobile hidden-tablet">Add Staff To Role(s)</span></a>
                            </li>


                        </ul>

                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>

                    <!-- widget div-->
                    <div role="content">
                        <!-- widget edit box -->

                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">

                                <!-- new tab: API interface -->
                                <div class="tab-pane fade active in" id="ss1">
                                    <form asp-controller="Setups" asp-action="AddStaffRole" asp-route-returnurl="@ViewData["ReturnUrl"]" id="add-staff">
                                        <h4 class="margin-bottom-10">Create Staff Roles</h4>

                                        <div class="alert alert-info">
                                            <b>Note:</b>
                                            This may only be prefered if you are creating individual staff roles. If you have an existing register, please use the import tab
                                        </div>

                                        <div class="row">
                                            <!-- content -->
                                            <article class="col-sm-12 col-md-6 col-lg-6">

                                                <!-- Widget ID (each widget will need unique ID)-->
                                                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
                                                    <!-- widget options:
                                                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                                    data-widget-colorbutton="false"
                                                    data-widget-editbutton="false"
                                                    data-widget-togglebutton="false"
                                                    data-widget-deletebutton="false"
                                                    data-widget-fullscreenbutton="false"
                                                    data-widget-custombutton="false"
                                                    data-widget-collapsed="true"
                                                    data-widget-sortable="false"

                                                    -->
                                                    <header>
                                                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                                                        <h2>Role Details</h2>

                                                    </header>

                                                    <!-- widget div-->
                                                    <div>

                                                        <!-- widget edit box -->
                                                        <div class="jarviswidget-editbox">
                                                            <!-- This area used as dropdown edit box -->

                                                        </div>
                                                        <!-- end widget edit box -->
                                                        <!-- widget content -->
                                                        <div class="widget-body">

                                                            <div class="">

                                                                <fieldset>
                                                                    <legend>Basic</legend>
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">Name</label>
                                                                        <div class="col-md-5">
                                                                            <input asp-for="RoleName" class="form-control" placeholder="Name.." type="text">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">Alias</label>
                                                                        <div class="col-md-10">
                                                                            <input asp-for="RoleAlias" class="form-control date-input" placeholder="" value="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">For User Type :</label>
                                                                        <div class="col-md-10">

                                                                            <label class="radio radio-inline">
                                                                                <input type="radio" asp-for="UserType" value="2" class="radiobox" name="style-0a">
                                                                                <span>All Users</span>
                                                                            </label>
                                                                            <label class="radio radio-inline">
                                                                                <input type="radio" asp-for="UserType" value="0" class="radiobox" name="style-0a">
                                                                                <span>Tutors Only</span>

                                                                            </label>
                                                                            <label class="radio radio-inline">
                                                                                <input type="radio" asp-for="UserType" value="1" class="radiobox" name="style-0a">
                                                                                <span>Staff Only</span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">Level</label>
                                                                        <div class="col-md-10">
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon"><a class="fa fa-filter"></a></span>
                                                                                <input asp-for="RoleLevel" class="form-control" placeholder="Level e.g 1,2,...">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                                

                                                            </div>

                                                        </div>
                                                        <!-- end widget content -->

                                                    </div>
                                                    <!-- end widget div -->

                                                </div>

                                            </article>
                                            <article class="col-sm-12 col-md-6 col-lg-6">

                                                <!-- Widget ID (each widget will need unique ID)-->
                                                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
                                                    <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
                                                    <header>
                                                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                                                        <h2>Role Description</h2>

                                                    </header>

                                                    <!-- widget div-->
                                                    <div>

                                                        <!-- widget edit box -->
                                                        <div class="jarviswidget-editbox">
                                                            <!-- This area used as dropdown edit box -->

                                                        </div>
                                                        <!-- end widget edit box -->
                                                        <!-- widget content -->
                                                        <div class="widget-body">

                                                            <div class="">

                                                                <fieldset>
                                                                    <legend>Role Info.</legend>
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">Description</label>
                                                                        <div class="col-md-10">
                                                                            <textarea class="form-control" asp-for="RoleDescription" rows="10" placeholder="What is this role about.."></textarea>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>

                                                            </div>

                                                        </div>
                                                        <!-- end widget content -->

                                                    </div>
                                                    <!-- end widget div -->

                                                </div>

                                            </article>
                                            <!-- end content -->
                                        </div>


                                        <div class="text-align-center">
                                            <hr />
                                            <button type="submit" class="btn btn-md btn-primary" id="save-tutor">
                                                <i class="fa fa-send"></i> &nbsp;<strong>Save Role</strong>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- end s1 tab pane -->
                                <!-- new tab: Default -->
                                <div class="tab-pane fade" id="ss2">
                                    <h4 class="margin-bottom-10">Add Staff To Role(s)</h4>

                                    <div class="alert alert-info">
                                        <b>This this a efficient way of uploading multiple students to the system</b>
                                        <br />
                                        All records in the chosen file are processed and added to the registered school with the specified name. <br />
                                        <strong>NOTE : </strong> All fields in the shown templete are required, or the record won't be added.
                                    </div>

                                    <section id="widget-grid" class="">
                                        <form  asp-controller="Setups" asp-action="AddStaffRole" asp-route-returnurl="@ViewData["ReturnUrl"]" id="add-staffrole">
                                                
                                        <!-- row -->
                                        <div class="row">

                                            <!-- NEW WIDGET START -->
                                            <div class="">
                                                <!-- content -->
                                                <article class="col-sm-12 col-md-12 col-lg-6">

                                                    <!-- Widget ID (each widget will need unique ID)-->
                                                    <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
                                                        <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                                                        <header>
                                                            <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                                                            <h2>User Roles</h2>

                                                        </header>

                                                        <!-- widget div-->
                                                        <div>

                                                            <!-- widget edit box -->
                                                            <div class="jarviswidget-editbox">
                                                                <!-- This area used as dropdown edit box -->

                                                            </div>
                                                            <!-- end widget edit box -->
                                                            <!-- widget content -->
                                                            <div class="widget-body">

                                                                <div class="">

                                                                    <fieldset>
                                                                        <legend>Roles for :</legend>
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label">Select Staff</label>
                                                                            <div class="col-md-10">
                                                                                <div class="icon-addon addon-md">
                                                                                    @Html.DropDownListFor(l => l.StaffId, StaffList, "-- Select Staff --", new { @class = "form-control" })

                                                                                    <label for="email" class="glyphicon glyphicon-user" rel="tooltip" title="email"></label>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </fieldset>
                                                                    @foreach (var s in dbContext.Schools.Include(t=>t.CountrySchool).ToList())
                                                                    {
                                                                        <hr />
                                                                        <fieldset>
                                                                            <legend>For @s.CountrySchool.Name</legend>
                                                                            <div class="form-group">
                                                                                <label class="col-md-2 control-label">Enabled</label>
                                                                                <div class="col-md-10">
                                                                                    @foreach (var r in dbContext.Roles.ToList())
                                                                                    {
                                                                                        <div class="checkbox">
                                                                                            <label>
                                                                                                <input type="checkbox" @(User.IsInRole(r.Name)?"checked=\"checked\"":"") disabled="disabled">
                                                                                                @r.Name
                                                                                            </label>
                                                                                        </div>

                                                                                    }
                                                                                </div>
                                                                            </div>


                                                                        </fieldset>

                                                                    }

                                                                </div>

                                                            </div>
                                                            <!-- end widget content -->

                                                        </div>
                                                        <!-- end widget div -->

                                                    </div>

                                                </article>
                                                <!-- Left-->

                                                <article class="col-sm-12 col-md-12 col-lg-6">

                                                    <!-- Widget ID (each widget will need unique ID)-->
                                                    <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false">
                                                        <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                                                        <header>
                                                            <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                                                            <h2>Available Roles</h2>

                                                        </header>

                                                        <!-- widget div-->
                                                        <div>

                                                            <!-- widget edit box -->
                                                            <div class="jarviswidget-editbox">
                                                                <!-- This area used as dropdown edit box -->

                                                            </div>
                                                            <!-- end widget edit box -->
                                                            <!-- widget content -->
                                                            <div class="widget-body">

                                                                <div class="">

                                                                    <fieldset>
                                                                        <legend>New Roles</legend>
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label">For Staff</label>
                                                                            <div class="col-md-10">
                                                                                <div class="icon-addon addon-md">
                                                                                    @Html.DropDownListFor(l => l.StaffId, StaffList, "-- Select Staff --", new { @class = "form-control" })

                                                                                    <label for="email" class="glyphicon glyphicon-user" rel="tooltip" title="email"></label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </fieldset>
                                                                    @foreach (var s in dbContext.Schools.Include(t => t.CountrySchool).ToList())
                                                                    {
                                                                        <hr />
                                                                        <fieldset>
                                                                            <legend>At @s.CountrySchool.Name</legend>
                                                                            <div class="form-group">
                                                                                <label class="col-md-2 control-label">As </label>
                                                                                <div class="col-md-10">
                                                                                    @foreach (var r in dbContext.Roles.ToList())
                                                                                    {
                                                                                        <div class="checkbox">
                                                                                            <label>
                                                                                                <input type="checkbox" @(User.IsInRole(r.Name) ? "checked=\"checked\"" : "")>
                                                                                                @r.Name
                                                                                            </label>
                                                                                        </div>

                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </fieldset>

                                                                    }
                                                                </div>

                                                            </div>
                                                            <!-- end widget content -->

                                                        </div>
                                                        <!-- end widget div -->

                                                    </div>
                                                </article>
                                                <!-- end content -->
                                            </div>
                                            <!-- WIDGET END -->

                                        </div>

                                        <!-- end row -->
                                            <div class="text-align-center">
                                                <hr />
                                                <button type="submit" class="btn btn-md btn-primary" id="save-tutor">
                                                    <i class="fa fa-send"></i> &nbsp;<strong>Update User Roles</strong>
                                                </button>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>

        <!-- end row -->

    </section>
</section>
