﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@inject IOptions<AppSettings> AppSettings
@model AddTimeTableViewModel
@{
    //For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    //
    var TermsList = new List<SelectListItem>();

    foreach (var s in dbContext.Terms.Include(j => j.Year).ToList())
    {
        //
        TermsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name + " (Year " + s.Year.Name + ")", Selected = false });
    }
}
<style>
    .chosen-container-single .chosen-single{
        height:48px !important;
        line-height:48px;
        border-radius: 0px;
    }
</style>
<section>
    <form asp-controller="Setups" asp-action="AddTimeTable" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" enctype="multipart/form-data" id="add-year-form">
        <h3>
            <br />
            <strong>Step 6 </strong> - Add Time Table
            <span class="font-sm" style="float:right">Time Tables (@{var o = dbContext.Terms.Include(k => k.TimeTables).ToList();
                var g = 0;
                foreach (var t in o)
                {
                    g += t.TimeTables.Count;
                } } @g)<span>
        </h3>
        <br />
       <div class="col-sm-12">
            <div class="col-sm-12">
            <div class="row">
                <div id="bootstrap-wizard-1" class="col-sm-5">
                    <section class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-home fa-lg fa-fw"></i></span>
                                        @Html.DropDownListFor(m => m.Term, TermsList, " -- Select Academic Term -- ", new { @class = "form-control input-lg chosen-select", style = "min-width:100%;height:100% !important" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user-md fa-lg fa-fw"></i></span>
                                        <input asp-for="Doc" type="file" class="form-control input-lg" placeholder="Scanned Document {jpeg or png}" value="">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </section>
                </div>
                <div id="bootstrap-wizard-1" class="col-sm-7">
                    <section class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div style="border:solid thin #aaa;border-radius:2px 2px;min-height:100px;min-width:100%" class="text-align-center">
                                        ~ Preview ~
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
       </div>
        <div class="clearfix"></div>
        <div class="text-align-center">
            <hr />
            <button type="submit" class="btn btn-md btn-primary" id="save-school">
                <i class="fa fa-send"></i> &nbsp;<strong>Save Time Table</strong>
            </button>
        </div>
    </form>
</section>
@*<h3><strong>Step 1 </strong> - Academic Years</h3>

    <!-- wizard form starts here -->
    <fieldset>

        <div class="form-group has-warning">
            <label class="col-md-2 control-label">Input warning</label>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="fa fa-warning"></i></span>
                </div>
                <span class="help-block">Something may have gone wrong</span>
            </div>

        </div>

        <div class="form-group has-error">
            <label class="col-md-2 control-label">Input error</label>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-remove-circle"></i></span>
                </div>
                <span class="help-block"><i class="fa fa-warning"></i> Please correct the error</span>
            </div>
        </div>

        <div class="form-group has-success">
            <label class="col-md-2 control-label">Input success</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="fa fa-check"></i></span>
                </div>
                <span class="help-block">Something may have gone wrong</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Input icon success</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="input-icon-left">
                            <i class="fa txt-color-green fa-check"></i>
                            <input class="form-control" placeholder="Left Icon" type="text">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </fieldset>*@

<style>
    .progress {
  background: #f0f0f0;
  margin-top: 30px;
  display: none;
  position: relative;
}

.progress .bar {
  background: green;
  width: 33%;
  height: 30px;
}

.progress .label {
  line-height: 30px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
}
</style>
