﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@inject IOptions<AppSettings> AppSettings
@model AddTimeTableViewModel
@{
    //For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    //
    var TermsList = new List<SelectListItem>();
    var SubjectsList = new List<SelectListItem>();
    var LevelsList = new List<SelectListItem>();
    var RoomsList = new List<SelectListItem>();
    //
    AcademicSubject subject = null;
    //
    foreach (var s in dbContext.Terms.Include(j => j.Year).Where(l=>l.Ends >= DateTime.Now).ToList())
    {
        //
        TermsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name + " (Year " + s.Year.Name + ")", Selected = false });
    }

    //foreach (var s in dbContext.Subjects.Include(j => j.School.CountrySchool).GroupBy(x => x.Name).Select(y => y.First()).ToList())
    //{
    //    //
    //    SubjectsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name + " (For " + s.School.CountrySchool.Name + ")", Selected = false });
    //}
    foreach(var s in dbContext.Subjects.Include(k => k.Level).Include(k => k.School).ThenInclude(k => k.CountrySchool).ToList())
    {
        SubjectsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name + " "+s.Level.Name+" (For " + s.School.CountrySchool.Name + ")", Selected = false });
    }
    //
    //if (Model.SubjectId > 0)
    //{
    //    subject = dbContext.Subjects.Single(p => p.Id == Model.SubjectId);
    //    foreach(var r in dbContext.Classrooms.Include(i=>i.Department).ToList())
    //    {
    //        RoomsList.Add(new SelectListItem() { Value = "" + r.Id, Text = r.Name + " (Dept " + r.Department.Name + ")", Selected = false });
    //    }
    //}
    foreach (var r in dbContext.Classrooms.Include(i => i.Department).ToList())
    {
        RoomsList.Add(new SelectListItem() { Value = "" + r.Id, Text = r.Name + " (" + r.Department.Name + ")", Selected = false });
    }
}


<div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget" style="">

    <h3>
        <br />
        <strong>Step 6 </strong> - Add Time Table
        <span class="font-sm" style="float:right">
            Time Tables (@{var o = dbContext.Terms.Include(k => k.TimeTables).ToList();
                var g = 0;
                foreach (var t in o)
                {
                    g += t.TimeTables.Count;
                } } @g)<span>
        </h3>
        <br />
    <header role="heading">
        <span class="widget-icon"> <i class="fa fa-file-image-o txt-color-darken"></i> </span>
        <h2 class="hidden-xs hidden-sm">Subject Time-Table </h2>

        <ul class="nav nav-tabs pull-right in" id="myTab">

            <li class="active">
                <a data-toggle="tab" href="#s1"><i class="fa fa-plus-square text-success"></i> <span class="hidden-mobile hidden-tablet">Create Time-Table</span></a>
            </li>

            <li>
                <a data-toggle="tab" href="#s2"><i class="fa fa-cloud-upload text-primary"></i> <span class="hidden-mobile hidden-tablet">Upload Time-Table</span></a>
            </li>


        </ul>

        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
    </header>

    <!-- widget div-->
    <div role="content">
        <!-- widget edit box -->
        <div class="widget-body">
            <!-- content -->
            <div id="myTabContent" class="tab-content">

                <!-- new tab: API interface -->
                <div class="tab-pane fade active in" id="s1">

                    <section>
                        <div>
                            
                                <div class="clearfix"></div>
                                <br />

                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <!-- new widget -->
                                        <div class="jarviswidget jarviswidget-color-blueDark">
                                            <header>
                                                <h2> Add Lesson </h2>
                                            </header>

                                            <!-- widget div-->
                                            <div class="widget-body">
                                                <!-- content goes here -->
                                                <div>

                                                    <form id="add-event-form" method="POST">
                                                        <fieldset style="margin:10px">

                                                            <div class="form-group">
                                                                <label>Select Event Icon</label>
                                                                <div class="btn-group btn-group-sm btn-group-justified" data-toggle="buttons">
                                                                    <label class="btn btn-default active">
                                                                        <input type="radio" name="iconselect" id="icon-1" value="fa-info" checked>
                                                                        <i class="fa fa-info text-muted"></i>
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="radio" name="iconselect" id="icon-2" value="fa-warning">
                                                                        <i class="fa fa-warning text-muted"></i>
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="radio" name="iconselect" id="icon-3" value="fa-check">
                                                                        <i class="fa fa-check text-muted"></i>
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="radio" name="iconselect" id="icon-4" value="fa-user">
                                                                        <i class="fa fa-user text-muted"></i>
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="radio" name="iconselect" id="icon-5" value="fa-lock">
                                                                        <i class="fa fa-lock text-muted"></i>
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="radio" name="iconselect" id="icon-6" value="fa-clock-o">
                                                                        <i class="fa fa-clock-o text-muted"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Term</label>
                                                                @if (Model.Term == null)
                                                                {
                                                                    @Html.DropDownListFor(m => m.Term, TermsList, " -- Select Academic Term -- ", new { @class = "form-control chosen-select", style = "height:100% !important" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.HiddenFor(p => p.TermId)
                                                                    <input class="form-control" id="Term" name="Term" maxlength="40" type="text" placeholder="Term" value="@Model.Term.Name">
                                                                }
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Subject</label>
                                                                @if (Model.Term == null)
                                                                {
                                                                    @Html.DropDownListFor(m => m.SubjectId, SubjectsList, " -- Select Subject -- ", new { @class = "form-control chosen-select", style = "height:100% !important" })

                                                                }
                                                                else
                                                                {
                                                                    @Html.HiddenFor(p => p.SubjectId)
                                                                    <input class="form-control" id="Subject" name="Subject" maxlength="40" type="text" placeholder="Subject" value="@Model.Term.Name">
                                                                }
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Venue (Classroom)</label>
                                                                @Html.DropDownList("RoomId", RoomsList, " -- Select Classroom -- ", new { @class = "form-control chosen-select", style = "height:100% !important" })
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Lesson Title</label>
                                                                <input class="form-control cke_required" id="Title" name="Title" maxlength="40" type="text" placeholder="Lesson Title">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Lesson Description</label>
                                                                <textarea class="form-control" placeholder="Please be brief" rows="3" maxlength="40" id="LessonDescription" name="LessonDescription"></textarea>
                                                                <p class="note">Maxlength is set to 40 characters</p>
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Select Lesson Color</label>
                                                                <div class="btn-group btn-group-justified btn-select-tick" data-toggle="buttons">
                                                                    <label class="btn bg-color-darken active">
                                                                        <input type="radio" name="Priority" id="option1" value="bg-color-darken txt-color-white" checked>
                                                                        <i class="fa fa-check txt-color-white"></i>
                                                                    </label>
                                                                    <label class="btn bg-color-blue">
                                                                        <input type="radio" name="Priority" id="option2" value="bg-color-blue txt-color-white">
                                                                        <i class="fa fa-check txt-color-white"></i>
                                                                    </label>
                                                                    <label class="btn bg-color-orange">
                                                                        <input type="radio" name="Priority" id="option3" value="bg-color-orange txt-color-white">
                                                                        <i class="fa fa-check txt-color-white"></i>
                                                                    </label>
                                                                    <label class="btn bg-color-greenLight">
                                                                        <input type="radio" name="Priority" id="option4" value="bg-color-greenLight txt-color-white">
                                                                        <i class="fa fa-check txt-color-white"></i>
                                                                    </label>
                                                                    <label class="btn bg-color-blueLight">
                                                                        <input type="radio" name="Priority" id="option5" value="bg-color-blueLight txt-color-white">
                                                                        <i class="fa fa-check txt-color-white"></i>
                                                                    </label>
                                                                    <label class="btn bg-color-red">
                                                                        <input type="radio" name="Priority" id="option6" value="bg-color-red txt-color-white">
                                                                        <i class="fa fa-check txt-color-white"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Lesson Period</label>
                                                                <div class="row">
                                                                    <div class="col-md-6"><input class="form-control cke_required" asp-for="Starts" type="text" id="starttime" maxlength="40" placeholder="Lesson Starts" value="@Model.Starts.ToString("hh:mm tt")"></div>
                                                                    <div class="col-md-6"><input class="form-control cke_required" asp-for="Ends" type="text" id="finishtime" maxlength="40" placeholder="Lesson Ends" value="@Model.Ends.ToString("hh:mm tt")"></div>
                                                                </div>
                                                            </div>
                                                        </fieldset>

                                                        <div class="form-actions">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <button class="btn btn-md btn-primary" type="button" id="add-lesson" title="Appends the specified subject to the timetable grid">
                                                                        Add Lesson
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                                <!-- end content -->
                                            </div>
                                            <!-- end widget div -->
                                        </div>
                                        <!-- end widget -->

                                        <div class="well well-sm" id="event-container">
                                            <form>
                                                <fieldset>
                                                    <legend>
                                                        Draggable Lessons
                                                    </legend>
                                                    <ul id='external-events' class="list-unstyled">
                                                        @*<li>
                                                            <span class="bg-color-darken txt-color-white" data-description="Currently busy" data-icon="fa-time">Office Meeting</span>
                                                        </li>
                                                        <li>
                                                            <span class="bg-color-blue txt-color-white" data-description="No Description" data-icon="fa-pie">Lunch Break</span>
                                                        </li>
                                                        <li>
                                                            <span class="bg-color-red txt-color-white" data-description="Urgent Tasks" data-icon="fa-alert">URGENT</span>
                                                        </li>*@
                                                        <li>
                                                            <span class="bg-color-red txt-color-white">Empty</span>
                                                        </li>
                                                    </ul>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="drop-remove" class="checkbox style-0" checked="checked">
                                                            <span>remove after drop</span>
                                                        </label>

                                                    </div>
                                                </fieldset>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-9 col-lg-9" id="calendar-wrapper">

                                        <!-- new widget -->
                                        <div class="jarviswidget jarviswidget-color-blueDark">

                                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->
                                            <header>
                                                <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                                                <h2> Added Lessons </h2>
                                                <div class="widget-toolbar">
                                                    <!-- add: non-hidden - to disable auto hide -->
                                                    <div class="btn-group">
                                                        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                                                            Showing <i class="fa fa-caret-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu js-status-update pull-right">
                                                            <li>
                                                                <a href="javascript:void(0);" id="mt">Month</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" id="ag">Agenda</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" id="td">Today</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </header>

                                            <!-- widget div-->
                                            <div>

                                                <div class="widget-body no-padding">
                                                    <!-- content goes here -->
                                                    <div class="widget-body-toolbar">

                                                        <div id="calendar-buttons">

                                                            <div class="btn-group">
                                                                <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prefresh"><i class="fa fa-refresh"></i></a>&nbsp;
                                                                <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                                                                <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="calendar"></div>

                                                    <!-- end content -->
                                                </div>

                                            </div>
                                            <!-- end widget div -->
                                        </div>
                                        <!-- end widget -->

                                        <form asp-controller="Setups" asp-action="AddLessons" asp-route-returnurl="@ViewData["ReturnUrl"]" id="add-timetable" method="post">
                                            @Html.HiddenFor(p => p.Lessons)
                                            <div class="text-align-center">
                                                <hr />
                                                <button type="submit" class="btn btn-md btn-primary" id="save-timetable">
                                                    <i class="fa fa-send"></i> &nbsp;<strong>Save Time-Table</strong>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </section>
                </div>
                <!-- end s1 tab pane -->
                <!-- new tab: Default -->
                <div class="tab-pane fade" id="s2">

                    <h4 class="margin-bottom-10">Upload Timetable</h4>

                    <div class="alert alert-info">
                        <b>Drag and drop a time-table dcument into the space below</b><br />
                        <strong>NOTE : </strong> Supported documents are PDF, PNG and JPG files
                    </div>

                    <section id="widget-grid" class="">

                        <!-- row -->
                        <div class="row">

                            <!-- NEW WIDGET START -->
                            <article class="col-sm-12">
                                <p>
                                    <span class="label label-warning">
                                        NOTE
                                    </span> &nbsp; This plugins works only on Latest Chrome, Firefox, Safari, Opera &amp; Internet Explorer 10.
                                </p>

                                <!-- Widget ID (each widget will need unique ID)-->
                                <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-0" data-widget-editbutton="false">
                                    <!-- widget options:
                                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                    data-widget-colorbutton="false"
                                    data-widget-editbutton="false"
                                    data-widget-togglebutton="false"
                                    data-widget-deletebutton="false"
                                    data-widget-fullscreenbutton="false"
                                    data-widget-custombutton="false"
                                    data-widget-collapsed="true"
                                    data-widget-sortable="false"

                                    -->
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-cloud"></i> </span>
                                        <h2>Drop Student Register </h2>

                                    </header>

                                    <!-- widget div-->
                                    <div>

                                        <!-- widget edit box -->
                                        <div class="jarviswidget-editbox">
                                            <!-- This area used as dropdown edit box -->

                                        </div>
                                        <!-- end widget edit box -->
                                        <!-- widget content -->
                                        <div class="widget-body">

                                            <form asp-controller="Setups" asp-action="AddTimeTable" asp-route-returnurl="@ViewData["ReturnUrl"]" class="dropzone" id="mydropzone" enctype="multipart/form-data"></form>

                                        </div>
                                        <!-- end widget content -->

                                    </div>
                                    <!-- end widget div -->

                                </div>
                                <!-- end widget -->

                            </article>
                            <!-- WIDGET END -->

                        </div>

                        <!-- end row -->

                    </section>
                </div>
            </div>
        </div>

    </div>
    <!-- end widget div -->
</div>
