﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@inject com.bkss.Services.IAppCacheService cache
@model AddDepartmentViewModel
@{
    var SchoolsList = new List<SelectListItem>();
    foreach (var s in dbContext.Schools.Include(l => l.CountrySchool).ToList())
    {
        SchoolsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.CountrySchool.Name, Selected = false });
    }
    var DeptTypes = new List<SelectListItem>();
    DeptTypes.Add(new SelectListItem() { Text = DepartmentType.Academic + "", Value = ((int)DepartmentType.Academic) + "" });
    DeptTypes.Add(new SelectListItem() { Text = DepartmentType.Welfare + "", Value = ((int)DepartmentType.Welfare) + "" });
    DeptTypes.Add(new SelectListItem() { Text = DepartmentType.Adminstration + "", Value = ((int)DepartmentType.Adminstration) + "" });
}

<section>
    <form asp-controller="Setups" asp-action="AddDepartment" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="add-classroom-form">
        <div class="">
            <h3 style="">
                <br />
                <strong>Step 2 </strong> - Add Department
                <span class="font-sm" style="float:right">All Departments (@dbContext.Departments.Count())<span>
            </h3>
            <br />
            <div class="col-sm-12">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-home fa-lg fa-fw"></i></span>
                                <input class="form-control input-lg" placeholder="School" id="SchoolId" value="@cache.GetSchool().CountrySchool.Name" readonly="readonly">

                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-archive fa-lg fa-fw"></i></span>
                                <input class="form-control input-lg" placeholder="Department Name E.G Sciences,..." asp-for="DepartmentName">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-home fa-lg fa-fw"></i></span>
                                @Html.DropDownListFor(m => m.Type, DeptTypes, "-- Select Category --", new { @class = "form-control input-lg" })
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="text-align-center">
            <hr />
            <button type="submit" class="btn btn-md btn-primary" id="save-class">
                <i class="fa fa-send"></i> &nbsp;<strong>Save Department</strong>
            </button>
        </div>
    </form>
</section>
