﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@inject IOptions<AppSettings> AppSettings
@model AddExamViewModel
@{
    //For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    //
    var SubjectList = new List<SelectListItem>();

    foreach (var s in dbContext.Subjects.Include(j=>j.School.CountrySchool).GroupBy(x => x.Name).Select(y => y.First()).ToList())
    {
        //
        SubjectList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name, Selected = false });
    }
    var ExamTypeList = new List<SelectListItem>();

    foreach (var s in dbContext.ExamTypes.Include(j => j.School).Include(j=>j.School.CountrySchool).ToList())
    {
        //
        ExamTypeList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name, Selected = false });
    }

}
<style>
    .chosen-container-single .chosen-single{
        height:48px !important;
        line-height:48px;
        border-radius: 0px;
    }
</style>
<section>
    <form asp-controller="Setups" asp-action="AddExam" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="add-year-form">
        <h4>
            <br />
            Add Subject Exam
            <span class="font-sm" style="float:right">
                <a href="@Url.RouteUrl(SetupsControllerRoute.AddExam,new { mode = 1})" class="btn btn-sm btn-info"><i class="fa fa-plus"></i>&nbsp; Add Exam Type </a>
                <a href="@Url.RouteUrl(SetupsControllerRoute.AddExam,new { mode = 2})" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>&nbsp; Add Grade </a>
                Exams (@dbContext.Exams.Count())
                <span>
        </h4>
        <br />
        <div class="col-sm-12">
            <div class="row">
                <div id="bootstrap-wizard-1" class="col-sm-12">
                    <section class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-home fa-lg fa-fw"></i></span>
                                        @Html.DropDownListFor(m => m.Subject, SubjectList, " -- Select Subject -- ", new { @class = "form-control input-lg chosen-select", style = "min-width:100%;height:100% !important" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-home fa-lg fa-fw"></i></span>
                                        @Html.DropDownListFor(m => m.Type, ExamTypeList, " -- Select Exam Type -- ", new { @class = "form-control input-lg chosen-select", style = "min-width:100%;height:100% !important" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user-md fa-lg fa-fw"></i></span>
                                        <input asp-for="Name" class="form-control input-lg" placeholder="Exam Name, e.g Mid-Term.." value="@Model.Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-11">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key fa-lg fa-fw"></i> </span>
                                        @Html.CheckBoxFor(m => m.Compulsory, new { @class = "form-checkbox", style = "width:25px;height:28px;margin:10px;display:inline" })
                                        <div class="" style="display:inline;font-size:22px">Mandatory</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="text-align-center">
            <hr />
            <button type="submit" class="btn btn-md btn-primary" id="save-school">
                <i class="fa fa-save"></i> &nbsp;<strong>Save Exam</strong>
            </button>
        </div>
    </form>
</section>
@*<h3><strong>Step 1 </strong> - Academic Years</h3>

    <!-- wizard form starts here -->
    <fieldset>

        <div class="form-group has-warning">
            <label class="col-md-2 control-label">Input warning</label>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="fa fa-warning"></i></span>
                </div>
                <span class="help-block">Something may have gone wrong</span>
            </div>

        </div>

        <div class="form-group has-error">
            <label class="col-md-2 control-label">Input error</label>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-remove-circle"></i></span>
                </div>
                <span class="help-block"><i class="fa fa-warning"></i> Please correct the error</span>
            </div>
        </div>

        <div class="form-group has-success">
            <label class="col-md-2 control-label">Input success</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="fa fa-check"></i></span>
                </div>
                <span class="help-block">Something may have gone wrong</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Input icon success</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="input-icon-left">
                            <i class="fa txt-color-green fa-check"></i>
                            <input class="form-control" placeholder="Left Icon" type="text">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </fieldset>*@
