﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@inject com.bkss.Services.IAppCacheService cache
@model AddStreamViewModel
@{
    var SchoolsList = new List<SelectListItem>();
    foreach (var s in dbContext.Schools.Include(l => l.CountrySchool).ToList())
    {
        SchoolsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.CountrySchool.Name, Selected = false });
    }
    School school = null;
    if (ViewBag.SchoolId != null)
    {
        int SchoolId = ViewBag.SchoolId;
        school = dbContext.Schools.Include(k => k.Streams).SingleOrDefault(p => p.Id == SchoolId);
    }
}

<section>
    <form asp-controller="Setups" asp-action="AddStream" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="add-classroom-form">
        <div class="">
            <h3>
                <br />
                <strong>Step 3 </strong> - Add Stream
                <span class="font-sm" style="float:right">All Streams (@school?.Streams.Count())<span>
            </h3>
            <br />
            <div class="col-sm-12">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map-marker fa-lg fa-fw"></i></span>
                                <input class="form-control input-lg" placeholder="School" id="SchoolId" value="@cache.GetSchool().CountrySchool.Name" readonly="readonly">

                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa-lg fa-fw"></i></span>
                                <input class="form-control input-lg" placeholder="Stream Name E.g North, South.." asp-for="StreamName">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-align-center">
            <hr />
            <button type="submit" class="btn btn-md btn-primary" id="save-class">
                <i class="fa fa-send"></i> &nbsp;<strong>Save Stream</strong>
            </button>
        </div>
    </form>
</section>
