﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@inject IOptions<AppSettings> AppSettings
@model AddExamGradeViewModel
@{
    //For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    //
    var SubjectsList = new List<SelectListItem>();

    foreach (var s in dbContext.Subjects.GroupBy(x => x.Name).Select(y => y.First()).Distinct())
    {
        //
        SubjectsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name, Selected = false });
    }
            }
<style>
    .chosen-container-single .chosen-single{
        height:48px !important;
        line-height:48px;
        border-radius: 0px;
    }
</style>
<section>
    <form asp-controller="Setups" asp-action="AddExamGrade" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="add-year-form">
        <h3>
            <hr />
            <br />
            Add Exams Grading
            <span class="font-sm" style="float:right">@if (dbContext.ExamTypes.Count() > 0)
            {
                <text>
                <a href="@Url.RouteUrl(SetupsControllerRoute.AddExam,new { mode = 0})" class="btn btn-sm btn-info"><i class="fa fa-plus"></i>&nbsp; Add Exam </a>
                &nbsp;
                </text>
            }
                @if (dbContext.Grades.Count() > 0)
                {
                    <text>
                    <a href="@Url.RouteUrl(SetupsControllerRoute.AddExam,new { mode = 1})" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>&nbsp; Add Exam Type</a>
                    &nbsp;
                    </text>
                }
            Exam Grades (@dbContext.Grades.Count())<span>
        </h3>
        <br />
        <div class="col-sm-12">
            <hr />
            <div class="col-sm-12">

                <div id="bootstrap-wizard-1" class="col-sm-6">

                    <h3>Details</h3>
                    <br />
                    <section class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-home fa-lg fa-fw"></i></span>
                                        @Html.DropDownListFor(m => m.Subject, SubjectsList, " -- Select Subject -- ", new { @class = "form-control input-lg chosen-select", style = "min-width:100%;height:100% !important" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user-md fa-lg fa-fw"></i></span>
                                        <input asp-for="Name" class="form-control input-lg" placeholder="Grade Name, e.g A.,A-,B+,..." value="@Model.Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user-md fa-lg fa-fw"></i></span>
                                        <input asp-for="MinMarks" class="form-control input-lg" placeholder="Cutoff Mark, e.g 35,40,... < 100" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="bootstrap-wizard-1" class="col-sm-6">

                    <h3>Apply grading levels;</h3>
                    <br />
                    <section class="col-sm-12">
                        @{
                            var coll = dbContext.Schools.Include(p => p.Levels).Include(k => k.CountrySchool).Select(p => p.Levels).ToList();
                            foreach (var levs in coll)
                            {
                                foreach (var l in levs)
                                {
                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-home fa-lg fa-fw"></i></span>
                                                    <input type="checkbox" name="SelectedLevels" value="@l.Id" checked="false" class="checkbox-inline" style="width:25px;height:28px;margin:10px;display:inline" />
                                                    <div class="" style="display:inline;font-size:18px">@(l.Name + " For " + l.School.CountrySchool.Name)</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                }

                            }
                        }
                    </section>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="text-align-center">
            <hr />
            <button type="submit" class="btn btn-md btn-primary" id="">
                <i class="fa fa-send"></i> &nbsp;<strong>Save Grade</strong>
            </button>
        </div>
    </form>
</section>
@*<h3><strong>Step 1 </strong> - Academic Years</h3>

    <!-- wizard form starts here -->
    <fieldset>

        <div class="form-group has-warning">
            <label class="col-md-2 control-label">Input warning</label>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="fa fa-warning"></i></span>
                </div>
                <span class="help-block">Something may have gone wrong</span>
            </div>

        </div>

        <div class="form-group has-error">
            <label class="col-md-2 control-label">Input error</label>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-remove-circle"></i></span>
                </div>
                <span class="help-block"><i class="fa fa-warning"></i> Please correct the error</span>
            </div>
        </div>

        <div class="form-group has-success">
            <label class="col-md-2 control-label">Input success</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                    <input class="form-control" type="text">
                    <span class="input-group-addon"><i class="fa fa-check"></i></span>
                </div>
                <span class="help-block">Something may have gone wrong</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Input icon success</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="input-icon-left">
                            <i class="fa txt-color-green fa-check"></i>
                            <input class="form-control" placeholder="Left Icon" type="text">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </fieldset>*@
