﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@inject IOptions<AppSettings> AppSettings
@model AddSchoolViewModel
@{
    //For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    //
    var SchoolsList = new List<SelectListItem>();

    var CountryList = new List<SelectListItem>();
    var sname = AppSettings.Value.Profile.Name;
    CountrySchool school = null; Country country = null;
    if (sname != null && dbContext.AllSchools.Any(p => p.Name.ToLower().Trim() == sname.ToLower().Trim()))
    {
        school = dbContext.AllSchools.Include(j => j.Country).Single(p => p.Name.ToLower().Trim() == sname.ToLower().Trim());
        country = school.Country;
    }
    //
    foreach (var c in dbContext.Countries.Include(l => l.Schools).ToList())
    {
        if (country != null && country.Name.ToLower().Equals("kenya") && c.Name == country.Name)
        {
            CountryList.Add(new SelectListItem() { Value = "" + c.Id, Text = c.Name, Selected = true });
            //
            var list = c.Schools.ToList();
            foreach (var s in list)
            {
                //
                var selected = (school.Id == s.Id);
                if (string.IsNullOrWhiteSpace(s.County))
                {
                    SchoolsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name, Selected = selected });
                }
                else
                {
                    SchoolsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name + " (" + s.Type + ")", Selected = selected });
                }
            }

        }
        else
        //
        if (c.Name.ToLower().Equals("kenya"))
        {
            CountryList.Add(new SelectListItem() { Value = "" + c.Id, Text = c.Name, Selected = true });
            //
            var list = c.Schools.ToList();
            foreach (var s in list)
            {
                //
                if (string.IsNullOrWhiteSpace(s.County))
                {
                    SchoolsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name, Selected = false });
                }
                else
                {
                    SchoolsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.Name + " (" + s.County + " county)", Selected = false });
                }
            }
        }
        else
        {
            CountryList.Add(new SelectListItem() { Value = "" + c.Id, Text = c.Name, Selected = false });
        }
    }
}
<style>
    .chosen-container-single .chosen-single {
        height: 48px !important;
        line-height: 48px;
        border-radius: 0px;
    }
</style>
<section>
    <form asp-controller="Setups" asp-action="AddSchool" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="add-school-form">
        <h3>
            <br />
            <strong>Step 1 </strong> - Add School
            <span class="font-sm" style="float:right">Schools(@dbContext.Schools.Count())<span>
        </h3>
        <br />
        <div class="col-sm-12">
            <div class="row">
                <div id="bootstrap-wizard-1" class="col-sm-12">
                    <section class="col-sm-6">
                        <h4><i class="fa fa-paperclip"></i>&nbsp;&nbsp;<strong>Basic Information </strong></h4>

                        <div class="row" style="margin-top:10px">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-map fa-lg fa-fw"></i></span>
                                        @Html.DropDownListFor(m => m.Country, CountryList, " -- Select Country -- ", new { @class = "form-control input-lg col-sm-11", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-home fa-lg fa-fw"></i></span>
                                        @Html.DropDownListFor(m => m.School, SchoolsList, " -- Select School Name -- ", new { @class = "form-control input-lg chosen-select col-sm-11", style = "height:100% !important" })
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-file-sound-o fa-lg fa-fw"></i></span>
                                        <input asp-for="Motto" class="form-control input-lg" placeholder="School Motto" value="@school?.Motto">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-code fa-lg fa-fw"></i></span>
                                        <input asp-for="Code" class="form-control input-lg" placeholder="Code" readonly value="@school?.Code">
                                    </div>
                                </div>

                            </div>

                        </div>

                    </section>

                    <section class="col-sm-6">
                        <h4><i class="fa fa-address-book"></i>&nbsp;&nbsp;<strong>Addressing Details </strong></h4>

                        <div class="row" style="margin-top:10px">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-address-card fa-lg fa-fw"></i></span>
                                        <input asp-for="ContactName" class="form-control input-lg" placeholder="Address To.." type="text" value="@school?.Name">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
                                        <input asp-for="County" class="form-control input-lg" placeholder="State / County / District" value="@school?.County.Trim()">

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
                                        <input asp-for="City" class="form-control input-lg" placeholder="City">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-map-marker fa-lg fa-fw"></i></span>
                                        <input asp-for="Street" class="form-control input-lg" placeholder="Street">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-lg fa-fw"></i></span>
                                        <input asp-for="PostalCode" class="form-control input-lg" placeholder="Postal Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
                                        <input asp-for="Email" class="form-control input-lg cke_required" placeholder="Contact Email">

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone fa-lg fa-fw"></i></span>
                                        <input asp-for="WorkPhone" class="form-control input-lg" data-mask="+999 999-9999" data-mask-placeholder="X" placeholder="+1" type="text" name="wphone" id="wphone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-mobile fa-lg fa-fw"></i></span>
                                        <input asp-for="MobilePhone" class="form-control input-lg" data-mask="+999 (999) 999-999" data-mask-placeholder="X" placeholder="+254" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="text-align-center">
            <hr />
            <button type="submit" class="btn btn-md btn-primary" id="save-school">
                <i class="fa fa-send"></i> &nbsp;<strong>Save School</strong>
            </button>
        </div>
    </form>
</section>
