﻿@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext
@inject IOptions<AppSettings> AppSettings
@model AddSchoolViewModel
@{
    //For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    //
    var SchoolsList = new List<SelectListItem>();

    foreach (var s in dbContext.Schools.Include(j=>j.CountrySchool).ToList())
    {
        //
        SchoolsList.Add(new SelectListItem() { Value = "" + s.Id, Text = s.CountrySchool.Name, Selected = false });
    }

    Layout = "_SetupsLayout";
}
<style>
    .chosen-container-single .chosen-single{
        height:48px !important;
        line-height:48px;
        border-radius: 0px;
    }
</style>
<section>
    <form asp-controller="Setups" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
      <div>
          <div class="clear"></div>
          <div style="margin:auto;width:50%;min-width:300px;">
              <div style="margin:100px;box-shadow:#ccc 2px 2px;border-radius:2px 2px">
                  <!-- new widget -->
                  <div class="jarviswidget jarviswidget-color-blueDark">
                      <header>
                          <h2> Choose School </h2>
                      </header>

                      <!-- widget div-->
                      <div class="widget-body">
                          <!-- content goes here -->
                          <div>
                              <fieldset style="margin:10px">
                                  <div class="form-group">
                                      <label>Intergrated Schools</label>
                                      @Html.DropDownListFor(m=>m.School, SchoolsList, " -- Select School -- ", new { @class = "form-control chosen-select", style = "height:100% !important" })
                                  </div>
                              </fieldset>

                              <div class="form-actions">
                                  <div class="row">
                                      <div class="col-sm-1"  style="">
                                          <a class="btn btn-md btn-info" href="@Url.RouteUrl(SetupsControllerRoute.GetIndex,new {m=1 })" title="Integrate New School" style="cursor:pointer">
                                              <i class="fa fa-plus-circle"></i> New
                                          </a>
                                      </div>
                                      <div class="col-sm-11" style="">                                         
                                          <button class="btn btn-md btn-primary" type="submit" id="" title="Set as default School">
                                              Apply
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <!-- end content -->
                      </div>
                      <!-- end widget div -->
                  </div>
                  <!-- end widget -->
              </div>
          </div>
      </div>
    </form>
</section>
