﻿@inject IOptions<AppSettings> AppSettings
@{
    // See Index.cshtml for full comments.
    ViewBag.Title = "Schools";
    ViewBag.Description = "The High School Management System about page.";

    Layout = "_SetupsLayout";
}

@section head
{
    @* See Index.cshtml for full comments. *@
    <meta name="author" content="Bourne Koloh">
    <twitter-card-summary-large-image username="@@bkss_tw">
    <open-graph-business site-name="@AppSettings.Value.SiteTitle"
                         title="@ViewBag.Title"
                         main-image="@(new OpenGraphImage(
                             Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                             ContentType.Png,
                             1200,
                             630))"
                         contact-data="@(new OpenGraphContactData("1 Street Name", "City", "SW1 1SW", "United Kingdom")
                             {
                                 Email = "email@example.com",
                                 Phone = "111-222-333-444",
                                 Website = Url.AbsoluteRouteUrl(HomeControllerRoute.GetIndex)
                             })"
                         location="@(new OpenGraphLocation(51.5286417, -0.1015987))"
                         determiner="Blank">
    <meta asp-referrer="OriginWhenCrossOrigin">
}

        <div id="content" style="margin-top:30px;margin-bottom:80px">
            <header style="text-align:center;">
                <h2>
                    <span class="widget-icon"> <i class="fa fa-gears"></i> </span>&nbsp;&nbsp;
                    <a href="javascript:void(0)" style="font-weight:bold">SYSTEM SETUP </a>
                </h2>
            </header>
            <div id="bootstrap-wizard-1" class="col-sm-12">
                <div class="form-bootstrapWizard">
                    <ul class="bootstrapWizard form-wizard">
                        <li  id="step-1" data-target="#step1" data-link="@Url.RouteUrl(SetupsControllerRoute.GetSchools)">
                            <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">SCHOOL INFORMATION</span> </a>
                        </li>
                        <li class="" data-target="#step2" id="step-2" data-link="@Url.RouteUrl(SetupsControllerRoute.GetAcademics)">
                            <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">TUTION &amp; ACCADEMIS</span> </a>
                        </li>
                        <li data-target="#step3" id="step-3" data-link="@Url.RouteUrl(SetupsControllerRoute.GetStaff)">
                            <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">STUDENTS &amp; STAFF</span> </a>
                        </li>
                        <li class="active" data-target="#step4" id="step-4" data-link="@Url.RouteUrl(SetupsControllerRoute.GetFinance)">
                            <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">FINANCE</span> </a>
                        </li>
                        <li data-target="#step5" id="step-5" data-link="@Url.RouteUrl(SetupsControllerRoute.GetAmmenities)">
                            <a href="#tab5" data-toggle="tab"> <span class="step">5</span> <span class="title">SCHOOL AMMENITIES</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- row -->
            <div class="row" style="margin-top:50px">
                <div class="clearfix" style="clear:both"></div>
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">
                    
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-institution"></i> </span>
                                <h2>SCHOOL CONFIGURATION </h2>
                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body">

                                    <div class="row">

                                        <div id="bootstrap-wizard-1" class="col-sm-12">
                                            <div class="tab-content">
                                                <div class="tab-pane" id="tab1">

                                                </div>
                                                <div class="tab-pane active" id="tab2">
                                                    <div asp-controller="Setups" asp-action="Academics" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="wizard-1" novalidate="novalidate">

                                                        <div>

                                                            <!-- widget edit box -->
                                                            <div class="jarviswidget-editbox">
                                                                <!-- This area used as dropdown edit box -->

                                                            </div>
                                                            <!-- end widget edit box -->
                                                            <!-- widget content -->
                                                            <div class="widget-body fuelux">

                                                                <div class="wizard">
                                                                    <ul class="steps">
                                                                        <li data-target="#step1" class="active">
                                                                            <span class="badge badge-info">1</span>Fees Structure<span class="chevron"></span>
                                                                        </li>
                                                                        <li data-target="#step2">
                                                                            <span class="badge">2</span>Salaries &amp; Wages<span class="chevron"></span>
                                                                        </li>
                                                                        <li data-target="#step3">
                                                                            <span class="badge">3</span>Item 3<span class="chevron"></span>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="actions">
                                                                        <button type="button" class="btn btn-sm btn-primary btn-prev">
                                                                            <i class="fa fa-arrow-left"></i>Prev
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm btn-success btn-next" data-last="Finish">
                                                                            Next<i class="fa fa-arrow-right"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="step-content">
                                                                    <form class="form-horizontal" id="fuelux-wizard" method="post">

                                                                        <div class="step-pane active" id="step1">
                                                                            <h3><strong>Step 1 </strong> - Fees Structure</h3>

                                                                            <!-- wizard form starts here -->
                                                                            <fieldset>

                                                                                <div class="form-group has-warning">
                                                                                    <label class="col-md-2 control-label">Input warning</label>
                                                                                    <div class="col-md-10">
                                                                                        <div class="input-group">
                                                                                            <input class="form-control" type="text">
                                                                                            <span class="input-group-addon"><i class="fa fa-warning"></i></span>
                                                                                        </div>
                                                                                        <span class="help-block">Something may have gone wrong</span>
                                                                                    </div>

                                                                                </div>

                                                                                <div class="form-group has-error">
                                                                                    <label class="col-md-2 control-label">Input error</label>
                                                                                    <div class="col-md-10">
                                                                                        <div class="input-group">
                                                                                            <input class="form-control" type="text">
                                                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-remove-circle"></i></span>
                                                                                        </div>
                                                                                        <span class="help-block"><i class="fa fa-warning"></i> Please correct the error</span>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group has-success">
                                                                                    <label class="col-md-2 control-label">Input success</label>
                                                                                    <div class="col-md-10">
                                                                                        <div class="input-group">
                                                                                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                                                                            <input class="form-control" type="text">
                                                                                            <span class="input-group-addon"><i class="fa fa-check"></i></span>
                                                                                        </div>
                                                                                        <span class="help-block">Something may have gone wrong</span>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-2">Input icon success</label>
                                                                                    <div class="col-md-10">
                                                                                        <div class="row">
                                                                                            <div class="col-sm-12">

                                                                                                <div class="input-icon-left">
                                                                                                    <i class="fa txt-color-green fa-check"></i>
                                                                                                    <input class="form-control" placeholder="Left Icon" type="text">
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </fieldset>

                                                                        </div>

                                                                        <div class="step-pane" id="step2">
                                                                            <h3><strong>Step 2 </strong> - Salaries &amp; Wages</h3>

                                                                            <div class="alert alert-warning fade in">
                                                                                <button class="close" data-dismiss="alert">
                                                                                    ×
                                                                                </button>
                                                                                <i class="fa-fw fa fa-warning"></i>
                                                                                <strong>Warning</strong> Your monthly traffic is reaching limit.
                                                                            </div>

                                                                            <div class="alert alert-success fade in">
                                                                                <button class="close" data-dismiss="alert">
                                                                                    ×
                                                                                </button>
                                                                                <i class="fa-fw fa fa-check"></i>
                                                                                <strong>Success</strong> The page has been added.
                                                                            </div>

                                                                            <div class="alert alert-info fade in">
                                                                                <button class="close" data-dismiss="alert">
                                                                                    ×
                                                                                </button>
                                                                                <i class="fa-fw fa fa-info"></i>
                                                                                <strong>Info!</strong> You have 198 unread messages.
                                                                            </div>

                                                                            <div class="alert alert-danger fade in">
                                                                                <button class="close" data-dismiss="alert">
                                                                                    ×
                                                                                </button>
                                                                                <i class="fa-fw fa fa-times"></i>
                                                                                <strong>Error!</strong> The daily cronjob has failed.
                                                                            </div>

                                                                        </div>

                                                                        <div class="step-pane" id="step3">
                                                                            <h3><strong>Step 3 </strong> - Wizard continued</h3>
                                                                            <br>
                                                                            <br>
                                                                            <h1 class="text-center text-primary"> This will be your Step 3 </h1>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                        </div>

                                                                        <div class="step-pane" id="step4">
                                                                            <h3><strong>Step 4 </strong> - Wizard continued...</h3>
                                                                            <br>
                                                                            <br>
                                                                            <h1 class="text-center text-danger"> This will be your Step 4 </h1>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                        </div>

                                                                        <div class="step-pane" id="step5">
                                                                            <h3><strong>Step 5 </strong> - Finished!</h3>
                                                                            <br>
                                                                            <br>
                                                                            <h1 class="text-center text-success">
                                                                                <i class="fa fa-check"></i> Congratulations!
                                                                                <br>
                                                                                <small>Click finish to end wizard</small>
                                                                            </h1>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                        </div>

                                                                    </form>
                                                                </div>

                                                            </div>
                                                            <!-- end widget content -->

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab3">

                                                </div>
                                                <div class="tab-pane" id="tab4">
                                                </div>

                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <ul class="pager wizard no-margin">
                                                                <!--<li class="previous first disabled">
                                    <a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
                                    </li>-->
                                                                <li class="previous">
                                                                    <a href="javascript:void(0);" class="btn btn-lg btn-default"> Previous </a>
                                                                </li>
                                                                <!--<li class="next last">
                                    <a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
                                    </li>-->
                                                                <li class="next" data-link="@Url.RouteUrl(SetupsControllerRoute.GetStaff)">
                                                                    <a href="javascript:void(0);" class="btn btn-lg btn-primary txt-color-darken"> Next </a>
                                                                </li>
                                                                <li class="next save">
                                                                    <a href="javascript:void(0);" class="btn btn-lg txt-color-darken"> Save..</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

</article>
                <!-- end row -->

            </div>

        </div>
        <!-- END MAIN CONTENT -->
        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
        section can be used to enter custom scripts specific to this page. *@
        @section scripts
{
}


        