﻿@inject IOptions<AppSettings> AppSettings
@inject com.bkss.Services.IAppCacheService cache
@{
    // See Index.cshtml for full comments.
    ViewBag.Title = "Schools";
    ViewBag.Description = "The High School Management System about page.";

    Layout = "_SetupsLayout";

    var appCache = (com.bkss.Services.AppCache)cache;

}
@inject ApplicationDbContext dbContext
@section head
{
    @* See Index.cshtml for full comments. *@
    <meta name="author" content="Bourne Koloh">
    <twitter-card-summary-large-image username="@@bkss_tw">
    <open-graph-business site-name="@AppSettings.Value.SiteTitle"
                         title="@ViewBag.Title"
                         main-image="@(new OpenGraphImage(
                                             Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                                             ContentType.Png,
                                             1200,
                                             630))"
                         contact-data="@(new OpenGraphContactData("1 Street Name", "City", "SW1 1SW", "United Kingdom")
{
    Email = "email@example.com",
    Phone = "111-222-333-444",
    Website = Url.AbsoluteRouteUrl(HomeControllerRoute.GetIndex)
})"
                         location="@(new OpenGraphLocation(51.5286417, -0.1015987))"
                         determiner="Blank">
    <meta asp-referrer="OriginWhenCrossOrigin">

        <style>
            .error-text-0 {
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                font-weight: bold;
                color: #333;
                line-height: 1;
                letter-spacing: -.05em;
                background-image: -webkit-linear-gradient(92deg,#00A300,#ed1c24);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .error-text-1 {
                text-align: center;
                font-size: 22px;
                font-weight: bold;
                font-weight: bold;
                color: #333;
                line-height: 1;
                letter-spacing: -.05em;
                background-image: -webkit-linear-gradient(92deg,#2d5efe,#ed1c24);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .error-text-2 {
                text-align: center;
                font-size: 700%;
                font-weight: bold;
                font-weight: 100;
                color: #333;
                line-height: 1;
                letter-spacing: -.05em;
                background-image: -webkit-linear-gradient(92deg,#333,#ed1c24);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .particle {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                background-color: #ed1c24;
                background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.3) 75%,rgba(0,0,0,0));
                box-shadow: inset 0 0 1px 1px rgba(0,0,0,.25);
            }

            .particle--a {
                -webkit-animation: particle-a 1.4s infinite linear;
                -moz-animation: particle-a 1.4s infinite linear;
                -o-animation: particle-a 1.4s infinite linear;
                animation: particle-a 1.4s infinite linear;
            }

            .particle--b {
                -webkit-animation: particle-b 1.3s infinite linear;
                -moz-animation: particle-b 1.3s infinite linear;
                -o-animation: particle-b 1.3s infinite linear;
                animation: particle-b 1.3s infinite linear;
                background-color: #00A300;
            }

            .particle--c {
                -webkit-animation: particle-c 1.5s infinite linear;
                -moz-animation: particle-c 1.5s infinite linear;
                -o-animation: particle-c 1.5s infinite linear;
                animation: particle-c 1.5s infinite linear;
                background-color: #57889C;
            }

            @@-webkit-keyframes particle-a {
                0% {
                    -webkit-transform: translate3D(-3rem,-3rem,0);
                    z-index: 1;
                    -webkit-animation-timing-function: ease-in-out;
                }

                25% {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                50% {
                    -webkit-transform: translate3D(4rem, 3rem, 0);
                    opacity: 1;
                    z-index: 1;
                    -webkit-animation-timing-function: ease-in-out;
                }

                55% {
                    z-index: -1;
                }

                75% {
                    width: .75rem;
                    height: .75rem;
                    opacity: .5;
                }

                100% {
                    -webkit-transform: translate3D(-3rem,-3rem,0);
                    z-index: -1;
                }
            }

            @@-moz-keyframes particle-a {
                0% {
                    -moz-transform: translate3D(-3rem,-3rem,0);
                    z-index: 1;
                    -moz-animation-timing-function: ease-in-out;
                }

                25% {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                50% {
                    -moz-transform: translate3D(4rem, 3rem, 0);
                    opacity: 1;
                    z-index: 1;
                    -moz-animation-timing-function: ease-in-out;
                }

                55% {
                    z-index: -1;
                }

                75% {
                    width: .75rem;
                    height: .75rem;
                    opacity: .5;
                }

                100% {
                    -moz-transform: translate3D(-3rem,-3rem,0);
                    z-index: -1;
                }
            }

            @@-o-keyframes particle-a {
                0% {
                    -o-transform: translate3D(-3rem,-3rem,0);
                    z-index: 1;
                    -o-animation-timing-function: ease-in-out;
                }

                25% {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                50% {
                    -o-transform: translate3D(4rem, 3rem, 0);
                    opacity: 1;
                    z-index: 1;
                    -o-animation-timing-function: ease-in-out;
                }

                55% {
                    z-index: -1;
                }

                75% {
                    width: .75rem;
                    height: .75rem;
                    opacity: .5;
                }

                100% {
                    -o-transform: translate3D(-3rem,-3rem,0);
                    z-index: -1;
                }
            }

            @@keyframes particle-a {
                0% {
                    transform: translate3D(-3rem,-3rem,0);
                    z-index: 1;
                    animation-timing-function: ease-in-out;
                }

                25% {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                50% {
                    transform: translate3D(4rem, 3rem, 0);
                    opacity: 1;
                    z-index: 1;
                    animation-timing-function: ease-in-out;
                }

                55% {
                    z-index: -1;
                }

                75% {
                    width: .75rem;
                    height: .75rem;
                    opacity: .5;
                }

                100% {
                    transform: translate3D(-3rem,-3rem,0);
                    z-index: -1;
                }
            }

            @@-webkit-keyframes particle-b {
                0% {
                    -webkit-transform: translate3D(3rem,-3rem,0);
                    z-index: 1;
                    -webkit-animation-timing-function: ease-in-out;
                }

                25% {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                50% {
                    -webkit-transform: translate3D(-3rem, 3.5rem, 0);
                    opacity: 1;
                    z-index: 1;
                    -webkit-animation-timing-function: ease-in-out;
                }

                55% {
                    z-index: -1;
                }

                75% {
                    width: .5rem;
                    height: .5rem;
                    opacity: .5;
                }

                100% {
                    -webkit-transform: translate3D(3rem,-3rem,0);
                    z-index: -1;
                }
            }

            @@-moz-keyframes particle-b {
                0% {
                    -moz-transform: translate3D(3rem,-3rem,0);
                    z-index: 1;
                    -moz-animation-timing-function: ease-in-out;
                }

                25% {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                50% {
                    -moz-transform: translate3D(-3rem, 3.5rem, 0);
                    opacity: 1;
                    z-index: 1;
                    -moz-animation-timing-function: ease-in-out;
                }

                55% {
                    z-index: -1;
                }

                75% {
                    width: .5rem;
                    height: .5rem;
                    opacity: .5;
                }

                100% {
                    -moz-transform: translate3D(3rem,-3rem,0);
                    z-index: -1;
                }
            }

            @@-o-keyframes particle-b {
                0% {
                    -o-transform: translate3D(3rem,-3rem,0);
                    z-index: 1;
                    -o-animation-timing-function: ease-in-out;
                }

                25% {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                50% {
                    -o-transform: translate3D(-3rem, 3.5rem, 0);
                    opacity: 1;
                    z-index: 1;
                    -o-animation-timing-function: ease-in-out;
                }

                55% {
                    z-index: -1;
                }

                75% {
                    width: .5rem;
                    height: .5rem;
                    opacity: .5;
                }

                100% {
                    -o-transform: translate3D(3rem,-3rem,0);
                    z-index: -1;
                }
            }

            @@keyframes particle-b {
                0% {
                    transform: translate3D(3rem,-3rem,0);
                    z-index: 1;
                    animation-timing-function: ease-in-out;
                }

                25% {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                50% {
                    transform: translate3D(-3rem, 3.5rem, 0);
                    opacity: 1;
                    z-index: 1;
                    animation-timing-function: ease-in-out;
                }

                55% {
                    z-index: -1;
                }

                75% {
                    width: .5rem;
                    height: .5rem;
                    opacity: .5;
                }

                100% {
                    transform: translate3D(3rem,-3rem,0);
                    z-index: -1;
                }
            }

            @@-webkit-keyframes particle-c {
                0% {
                    -webkit-transform: translate3D(-1rem,-3rem,0);
                    z-index: 1;
                    -webkit-animation-timing-function: ease-in-out;
                }

                25% {
                    width: 1.3rem;
                    height: 1.3rem;
                }

                50% {
                    -webkit-transform: translate3D(2rem, 2.5rem, 0);
                    opacity: 1;
                    z-index: 1;
                    -webkit-animation-timing-function: ease-in-out;
                }

                55% {
                    z-index: -1;
                }

                75% {
                    width: .5rem;
                    height: .5rem;
                    opacity: .5;
                }

                100% {
                    -webkit-transform: translate3D(-1rem,-3rem,0);
                    z-index: -1;
                }
            }

            @@-moz-keyframes particle-c {
                0% {
                    -moz-transform: translate3D(-1rem,-3rem,0);
                    z-index: 1;
                    -moz-animation-timing-function: ease-in-out;
                }

                25% {
                    width: 1.3rem;
                    height: 1.3rem;
                }

                50% {
                    -moz-transform: translate3D(2rem, 2.5rem, 0);
                    opacity: 1;
                    z-index: 1;
                    -moz-animation-timing-function: ease-in-out;
                }

                55% {
                    z-index: -1;
                }

                75% {
                    width: .5rem;
                    height: .5rem;
                    opacity: .5;
                }

                100% {
                    -moz-transform: translate3D(-1rem,-3rem,0);
                    z-index: -1;
                }
            }

            @@-o-keyframes particle-c {
                0% {
                    -o-transform: translate3D(-1rem,-3rem,0);
                    z-index: 1;
                    -o-animation-timing-function: ease-in-out;
                }

                25% {
                    width: 1.3rem;
                    height: 1.3rem;
                }

                50% {
                    -o-transform: translate3D(2rem, 2.5rem, 0);
                    opacity: 1;
                    z-index: 1;
                    -o-animation-timing-function: ease-in-out;
                }

                55% {
                    z-index: -1;
                }

                75% {
                    width: .5rem;
                    height: .5rem;
                    opacity: .5;
                }

                100% {
                    -o-transform: translate3D(-1rem,-3rem,0);
                    z-index: -1;
                }
            }

            @@keyframes particle-c {
                0% {
                    transform: translate3D(-1rem,-3rem,0);
                    z-index: 1;
                    animation-timing-function: ease-in-out;
                }

                25% {
                    width: 1.3rem;
                    height: 1.3rem;
                }

                50% {
                    transform: translate3D(2rem, 2.5rem, 0);
                    opacity: 1;
                    z-index: 1;
                    animation-timing-function: ease-in-out;
                }

                55% {
                    z-index: -1;
                }

                75% {
                    width: .5rem;
                    height: .5rem;
                    opacity: .5;
                }

                100% {
                    transform: translate3D(-1rem,-3rem,0);
                    z-index: -1;
                }
            }
        </style>

}

        <div id="content" style="margin-top:30px;margin-bottom:80px">
            <header style="text-align:center;">
                <h2>
                    <span class="widget-icon"> <i class="fa fa-gears"></i> </span>&nbsp;&nbsp;
                    <a href="javascript:void(0)" style="font-weight:bold">SYSTEM SETUP </a>&nbsp;&nbsp; <i class="fa fa-minus"></i>&nbsp;&nbsp; <a href="javascript:void(0)" style="font-weight:bold;cursor:default">@cache.GetSchool().CountrySchool.Name</a>
                    <br />
                    <br />
                </h2>
            </header>
            <div id="bootstrap-wizard-1" class="col-sm-12">
                <div class="form-bootstrapWizard">
                    <ul class="bootstrapWizard form-wizard">
                        <li class="active" id="step-1" data-target="#step1" data-link="@Url.RouteUrl(SetupsControllerRoute.AddLevel)">
                            <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">SCHOOL INFORMATION</span> </a>
                        </li>
                        <li data-target="#step2" id="step-2"  data-link="@Url.RouteUrl(SetupsControllerRoute.GetAcademics)">
                            <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">TUTION &amp; ACCADEMIS</span> </a>
                        </li>
                        <li data-target="#step3" id="step-3"  data-link="@Url.RouteUrl(SetupsControllerRoute.GetStaff)">
                            <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">STUDENTS &amp; STAFF</span> </a>
                        </li>
                        <li data-target="#step4" id="step-4"  data-link="@Url.RouteUrl(SetupsControllerRoute.GetFinance)">
                            <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">FINANCE</span> </a>
                        </li>
                        <li data-target="#step5" id="step-5" data-link="@Url.RouteUrl(SetupsControllerRoute.GetAmmenities)">
                            <a href="#tab5" data-toggle="tab"> <span class="step">5</span> <span class="title">SCHOOL AMMENITIES</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- row -->
            <div class="row" style="margin-top:50px">
                <div class="clearfix" style="clear:both"></div>
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">
                    
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-institution"></i> </span>
                                <h2>SCHOOL SETUP </h2>
                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body">

                                    <div class="row">

                                        <div id="bootstrap-wizard-1" class="col-sm-12">
                                            <div class="tab-content">
                                                <div class="tab-pane" id="tab1">

                                                </div>
                                                <div class="tab-pane active" id="tab2">

                                                    <div>

                                                        <!-- widget edit box -->
                                                        <div class="jarviswidget-editbox">
                                                            <!-- This area used as dropdown edit box -->

                                                        </div>
                                                        <!-- end widget edit box -->
                                                        <!-- widget content -->
                                                        <div class="widget-body fuelux">

                                                            <div class="wizard">
                                                                <ul class="steps">
                                                                    @*<li data-target="#step1" class="@(ViewBag.Index == null ? "active" : ViewBag.Index == 0 ? "active" : "")">
                                                                        <span class="badge badge-info">1</span>School Information<span class="chevron"></span>
                                                                    </li>*@
                                                                    <li data-target="#step1" class="@(ViewBag.Index == null ? "active" : ViewBag.Index == 0 ? "active" : "")">
                                                                        <span class="badge">1</span>Levels<span class="chevron"></span>
                                                                    </li>
                                                                    <li data-target="#step2" class="@(ViewBag.Index == 1 ? "active" : "")">
                                                                        <span class="badge">2</span>Departments<span class="chevron"></span>
                                                                    </li>
                                                                    <li data-target="#step3" class="@(ViewBag.Index == 2 ? "active" : "")">
                                                                        <span class="badge">3</span>Class-Streams<span class="chevron"></span>
                                                                    </li>
                                                                    <li data-target="#step4" class="@(ViewBag.Index == 3 ? "active" : "")">
                                                                        <span class="badge">4</span>Class-Rooms<span class="chevron"></span>
                                                                    </li>
                                                                    <li data-target="#step5" class="@(ViewBag.Index == 4 ? "active" : "")">
                                                                        <span class="badge">5</span>Offices<span class="chevron"></span>
                                                                    </li>
                                                                    <li data-target="#step6" class="@(ViewBag.Index == 5 ? "active" : "")">
                                                                        <span class="badge">6</span> Finish<span class="chevron"></span>
                                                                    </li>
                                                                </ul>
                                                                <div class="actions">
                                                                    <button type="button" class="btn btn-sm btn-primary btn-prev">
                                                                        <i class="fa fa-arrow-left"></i>Prev
                                                                    </button>
                                                                    <button type="button" class="btn btn-sm btn-success btn-next" data-last="Finish">
                                                                        Next<i class="fa fa-arrow-right"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="step-content">
                                                                @if (ViewData.ModelState.ErrorCount > 0)
                                                                {
                                                                    foreach (var e in ViewData.ModelState)
                                                                    {
                                                                        if (e.Value.Errors.Count > 0)
                                                                        {
                                                                            <div class="alert alert-danger fade in">
                                                                                <button class="close" data-dismiss="alert">
                                                                                    ×
                                                                                </button>
                                                                                <i class="fa-fw fa fa-times"></i>
                                                                               <ul>
                                                                                   @foreach (var j in e.Value.Errors)
                                                                                   {
                                                                                       <li><strong>Error!</strong> @j.ErrorMessage</li>
                                                                                   }
                                                                               </ul>
                                                                            </div>
                                                                        }

                                                                    }
                                                                    @*<div asp-validation-summary="All" class="text-danger cke_required"></div>*@
                                                                    @*<div class="row">
                                                                        <h3><strong>Step 2 </strong> - Add Office</h3>

                                                                        <div class="alert alert-warning fade in">
                                                                            <button class="close" data-dismiss="alert">
                                                                                ×
                                                                            </button>
                                                                            <i class="fa-fw fa fa-warning"></i>
                                                                            <strong>Warning</strong> Your monthly traffic is reaching limit.
                                                                        </div>

                                                                        <div class="alert alert-success fade in">
                                                                            <button class="close" data-dismiss="alert">
                                                                                ×
                                                                            </button>
                                                                            <i class="fa-fw fa fa-check"></i>
                                                                            <strong>Success</strong> The page has been added.
                                                                        </div>

                                                                        <div class="alert alert-info fade in">
                                                                            <button class="close" data-dismiss="alert">
                                                                                ×
                                                                            </button>
                                                                            <i class="fa-fw fa fa-info"></i>
                                                                            <strong>Info!</strong> You have 198 unread messages.
                                                                        </div>

                                                                        <div class="alert alert-danger fade in">
                                                                            <button class="close" data-dismiss="alert">
                                                                                ×
                                                                            </button>
                                                                            <i class="fa-fw fa fa-times"></i>
                                                                            <strong>Error!</strong> The daily cronjob has failed.
                                                                        </div>
                                                                    </div>*@

                                                                }
                                                                @*<div class="step-pane @(ViewBag.Index == null ? "active" : ViewBag.Index == 0 ? "active" : "")" id="step1">

                                                                   @{Html.RenderPartial("_AddSchool",new AddSchoolViewModel()); }

                                                                </div>*@
                                                                <div class="step-pane  @(ViewBag.Index == null ? "active" : ViewBag.Index == 0 ? "active" : "")" id="step1">

                                                                    @{Html.RenderPartial("_AddLevel", new AddLevelViewModel()); }

                                                                </div>
                                                                <div class="step-pane @(ViewBag.Index == 1 ? "active" : "")" id="step2">

                                                                    @{Html.RenderPartial("_AddDepartment",new AddDepartmentViewModel());}

                                                                </div>
                                                                <div class="step-pane @(ViewBag.Index == 2 ? "active" : "")" id="step3">

                                                                    @{Html.RenderPartial("_AddStream",new AddStreamViewModel());}

                                                                </div>
                                                                <div class="step-pane @(ViewBag.Index == 3 ? "active" : "")" id="step4">

                                                                    @{Html.RenderPartial("_AddClassroom",new AddClassViewModel());}

                                                                </div>

                                                                <div class="step-pane @(ViewBag.Index == 4 ? "active" : "")" id="step5">
                                                                    @{Html.RenderPartial("_AddOffice",new AddOfficeViewModel());}
                                                                </div>
                                                                <div class="step-pane" id="step6">
                                                                    <form class="form-horizontal" id="fuelux-wizard" method="post" asp-route="@Url.RouteUrl(SetupsControllerRoute.GetSchools)">
                                                                        <br />
                                                                        <h3><strong>Step 7 </strong> <span>Finished! </span></h3>
                                                                        <br />
                                                                        <div>
                                                                            <br>
                                                                            <br>
                                                                            <h1 class="text-center text-success">
                                                                                <i class="fa fa-check"></i> School Modules have now been configured.<br />
                                                                                <br>
                                                                                <small>Click finish to end wizard</small>
                                                                            </h1>
                                                                            <br>
                                                                            <br />
                                                                            <p class="text-align-center">
                                                                                or
                                                                            </p>
                                                                            <br>
                                                                            <div class="text-align-center">
                                                                                <a href="@Url.RouteUrl(HomeControllerRoute.GetIndex)" class="btn btn-lg  btn-primary" style="color:#fff"><i class="fa fa-home"></i>&nbsp; Go Home</a>
                                                                            </div>
                                                                            <br>
                                                                            <br>
                                                                        </div>
                                                                        </form>
                                                                    </div>
                                                            </div>

                                                        </div>
                                                        <!-- end widget content -->

                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab3">

                                                </div>
                                                <div class="tab-pane" id="tab4">
                                                </div>
                                                <div class="tab-pane" id="tab5">
                                                </div>
                                                <div class="step-pane" id="step6">
                                                    
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <ul class="pager wizard no-margin">
                                                                <!--<li class="previous first disabled">
                                    <a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
                                    </li>-->
                                                                <li class="previous disabled">
                                                                    <a href="javascript:void(0);" class="btn btn-lg btn-default"> Previous </a>
                                                                </li>
                                                                <!--<li class="next last">
                                    <a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
                                    </li>-->
                                                                <li class="next" data-link="@Url.RouteUrl(SetupsControllerRoute.GetStaff)">
                                                                    <a href="javascript:void(0);" class="btn btn-lg btn-primary txt-color-darken"> Next </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

</article>
                <!-- end row -->

            </div>

        </div>
        <!-- END MAIN CONTENT -->
        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
        section can be used to enter custom scripts specific to this page. *@
        @section scripts
{
            <script>
                jQuery("#save-school").click(function () {
                    jQuery("#add-school-form").submit()
                })
                //jQuery.getScript("/libs/cached/schools-ke.js")
                //  .done(function (script, textStatus) {
                //      alert(textStatus);
                //      var 
                //  })
                //  .fail(function (jqxhr, settings, exception) {
                //      alert('Load script failed.');
                //  });
                @{var h = dbContext.AllSchools.Select(s=>new {s.Code,s.CountryId,s.Id,s.County }).ToList();}
                var schools = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(h))')
                jQuery("#Country").chosen().change(function () {
                    //
                })
                jQuery("#School").chosen().change(function () {
                    //
                    jQuery('#Code').val('')
                    jQuery('#County').val('')
                    //
                    var obj = findItem(schools, parseInt(jQuery(this).val()))
                    if (obj != null) {
                        jQuery('#Code').val(obj.Code)
                        jQuery('#County').val(obj.County.trim())
                        jQuery('#County').attr("readonly").val("readonly")
                    } else {
                        jQuery('#County').removeAttr("readonly")
                    }
                    function findItem(data, item) {
      
                        var lowestPossibleLoc = 0;
                        var highestPossibleLoc = data.length - 1;
    
                        while (highestPossibleLoc >= lowestPossibleLoc) {
                            var middle = parseInt((lowestPossibleLoc + highestPossibleLoc) / 2);
                            if (parseInt(data[middle].Id) == item) {
                                // item has been found at this index!
                                return data[middle];
                            }
                            else if (parseInt(data[middle].Id) > item) {
                                // eliminate locations >= middle
                                highestPossibleLoc = middle - 1;
                            }
                            else {
                                // eliminate locations <= middle
                                lowestPossibleLoc = middle + 1;   
                            }
                        }
    
                        // At this point, highestPossibleLoc < LowestPossibleLoc,
                        // which means that N is known to be not in the array.  Return
                        // a -1 to indicate that N could not be found in the array.
 
                        return null;
  
                    }
                })
            </script>
}



        