﻿@inject IOptions<AppSettings> AppSettings
@{
    // See Index.cshtml for full comments.
    ViewBag.Title = "Schools";
    ViewBag.Description = "The High School Management System about page.";

    Layout = "_SetupsLayout";
}

@section head
{
    @* See Index.cshtml for full comments. *@
    <meta name="author" content="Bourne Koloh">
    <twitter-card-summary-large-image username="@@bkss_tw">
    <open-graph-business site-name="@AppSettings.Value.SiteTitle"
                         title="@ViewBag.Title"
                         main-image="@(new OpenGraphImage(
                             Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                             ContentType.Png,
                             1200,
                             630))"
                         contact-data="@(new OpenGraphContactData("1 Street Name", "City", "SW1 1SW", "United Kingdom")
                             {
                                 Email = "email@example.com",
                                 Phone = "111-222-333-444",
                                 Website = Url.AbsoluteRouteUrl(HomeControllerRoute.GetIndex)
                             })"
                         location="@(new OpenGraphLocation(51.5286417, -0.1015987))"
                         determiner="Blank">
    <meta asp-referrer="OriginWhenCrossOrigin">
}

        <div id="content" style="margin-top:30px;margin-bottom:80px">
            <header style="text-align:center;">
                <h2>
                    <span class="widget-icon"> <i class="fa fa-gears"></i> </span>&nbsp;&nbsp;
                    <a href="javascript:void(0)" style="font-weight:bold">SYSTEM SETUP </a>
                </h2>
            </header>
            <div id="bootstrap-wizard-1" class="col-sm-12">
                <div class="form-bootstrapWizard">
                    <ul class="bootstrapWizard form-wizard">
                        <li id="step-1" data-target="#step1" data-link="@Url.RouteUrl(SetupsControllerRoute.AddLevel)">
                            <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">SCHOOL INFORMATION</span> </a>
                        </li>
                        <li class="" data-target="#step2" id="step-2" data-link="@Url.RouteUrl(SetupsControllerRoute.GetAcademics)">
                            <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">TUTION &amp; ACCADEMIS</span> </a>
                        </li>
                        <li class="active" data-target="#step3" id="step-3" data-link="@Url.RouteUrl(SetupsControllerRoute.GetStaff)">
                            <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">STUDENTS &amp; STAFF</span> </a>
                        </li>
                        <li data-target="#step4" id="step-4" data-link="@Url.RouteUrl(SetupsControllerRoute.GetFinance)">
                            <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">FINANCE</span> </a>
                        </li>
                        <li data-target="#step5" id="step-5" data-link="@Url.RouteUrl(SetupsControllerRoute.GetAmmenities)">
                            <a href="#tab5" data-toggle="tab"> <span class="step">5</span> <span class="title">SCHOOL AMMENITIES</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- row -->
            <div class="row" style="margin-top:50px">
                <div class="clearfix" style="clear:both"></div>
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">
                    
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-users"></i> </span>
                                <h2>STUDENTS &amp; STAFF REGISTRATION </h2>
                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body">

                                    <div class="row">

                                        <div id="bootstrap-wizard-1" class="col-sm-12">
                                            <div class="tab-content">
                                                <div class="tab-pane" id="tab1">

                                                </div>
                                                <div class="tab-pane active" id="tab2">
                                                    <div asp-controller="Setups" asp-action="Academics" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="wizard-1" novalidate="novalidate">

                                                        <div>

                                                            <!-- widget edit box -->
                                                            <div class="jarviswidget-editbox">
                                                                <!-- This area used as dropdown edit box -->

                                                            </div>
                                                            <!-- end widget edit box -->
                                                            <!-- widget content -->
                                                            <div class="widget-body fuelux">

                                                                <div class="wizard">
                                                                    <ul class="steps">
                                                                        <li data-target="#step1" class="@(ViewBag.Index == null ? "active" : ViewBag.Index == 0 ? "active" : "")">
                                                                            <span class="badge badge-info">1</span>Students<span class="chevron"></span>
                                                                        </li>
                                                                        <li data-target="#step2" class="@(ViewBag.Index == 1 ?  "active" : "")">
                                                                            <span class="badge badge-info">2</span>Teaching Staff<span class="chevron"></span>
                                                                        </li>
                                                                        <li data-target="#step3" class="@(ViewBag.Index == 2 ?  "active" : "")">
                                                                            <span class="badge">3</span>NON-Teaching Staff<span class="chevron"></span>
                                                                        </li>
                                                                        <li data-target="#step4" class="@(ViewBag.Index == 3 ?  "active" : "")">
                                                                            <span class="badge">4</span>Staff Roles<span class="chevron"></span>
                                                                        </li>
                                                                        <li data-target="#step5" class="@(ViewBag.Index == 4 ?  "active" : "")">
                                                                            <span class="badge">5</span>Finish<span class="chevron"></span>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="actions">
                                                                        <button type="button" class="btn btn-sm btn-primary btn-prev">
                                                                            <i class="fa fa-arrow-left"></i>Prev
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm btn-success btn-next" data-last="Finish">
                                                                            Next<i class="fa fa-arrow-right"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="step-content">
                                                                    @if (ViewData.ModelState.ErrorCount > 0)
                                                                    {
                                                                        foreach (var e in ViewData.ModelState)
                                                                        {
                                                                            if (e.Value.Errors.Count > 0)
                                                                            {
                                                                                <div class="alert alert-danger fade in">
                                                                                    <button class="close" data-dismiss="alert">
                                                                                        ×
                                                                                    </button>
                                                                                    <i class="fa-fw fa fa-times"></i>
                                                                                    <ul>
                                                                                        @foreach (var j in e.Value.Errors)
                                                                                        {
                                                                                            <li><strong>Error!</strong> @j.ErrorMessage</li>
                                                                                        }
                                                                                    </ul>
                                                                                </div>
                                                                            }

                                                                        }
                                                                    }
                                                                    <section class="form-horizontal" >

                                                                        <div class="step-pane @(ViewBag.Index == null ? "active" : ViewBag.Index == 0 ? "active" : "")" id="step1">
                                                                            @{Html.RenderPartial("_AddStudent", new AddStudentViewModel()); }

                                                                        </div>

                                                                        <div class="step-pane @(ViewBag.Index == 1 ?  "active" : "")" id="step2">
                                                                           @{Html.RenderPartial("_AddTutor", new AddTutorViewModel()); }
                                                                        </div>

                                                                        <div class="step-pane @(ViewBag.Index == 2 ?  "active" : "")" id="step3">
                                                                           @{Html.RenderPartial("_AddStaff", new AddStaffViewModel()); }
                                                                        </div>

                                                                        <div class="step-pane @(ViewBag.Index == 3 ?  "active" : "")" id="step4">
                                                                            @{Html.RenderPartial("_AddStaffRoles", new AddStaffRolesViewModel()); }
                                                                        </div>

                                                                        <div class="step-pane" id="step5">
                                                                            <h3><strong>Step 5 </strong> Finished!</h3>
                                                                            <br>
                                                                            <br>
                                                                            <h1 class="text-center text-success">
                                                                                <i class="fa fa-check"></i> Congratulations!
                                                                                <br>
                                                                                <small>Click finish to end wizard</small>
                                                                            </h1>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                        </div>

                                                                    </section>
                                                                </div>

                                                            </div>
                                                            <!-- end widget content -->

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab3">

                                                </div>
                                                <div class="tab-pane" id="tab4">
                                                </div>

                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <ul class="pager wizard no-margin">
                                                                <!--<li class="previous first disabled">
                                    <a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
                                    </li>-->
                                                                <li class="previous">
                                                                    <a href="javascript:void(0);" class="btn btn-lg btn-default"> Previous </a>
                                                                </li>
                                                                <!--<li class="next last">
                                    <a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
                                    </li>-->
                                                                <li class="next" data-link="@Url.RouteUrl(SetupsControllerRoute.GetStaff)">
                                                                    <a href="javascript:void(0);" class="btn btn-lg btn-primary txt-color-darken"> Next </a>
                                                                </li>
                                                                <li class="next save">
                                                                    <a href="javascript:void(0);" class="btn btn-lg txt-color-darken"> Save..</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

</article>
                <!-- end row -->

            </div>

        </div>
        <!-- END MAIN CONTENT -->
        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
        section can be used to enter custom scripts specific to this page. *@
        @section scripts
{
            @if (ViewBag.Index == null || ViewBag.Index == 0)
            {
                //Add student
                <script src="~/libs/js/plugin/dropzone/dropzone.min.js"></script>

                <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    jQuery(document).ready(function () {

        Dropzone.autoDiscover = false;
        jQuery("#upload-students").dropzone({
            url: "/uploadStudents",
            addRemoveLinks: true,
            maxFilesize: 2.5,
            dictDefaultMessage: '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
            dictResponseError: 'Error uploading file!'
        });
        jQuery("#upload-staff").dropzone({
            url: "/uploadStaff",
            addRemoveLinks: true,
            maxFilesize: 2.5,
            dictDefaultMessage: '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
            dictResponseError: 'Error uploading file!'
        });
        jQuery("#upload-tutors").dropzone({
            url: "/uploadTutors",
            addRemoveLinks: true,
            maxFilesize: 2.5,
            dictDefaultMessage: '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
            dictResponseError: 'Error uploading file!'
        });

    })
    /** Bind School Change */
    jQuery('#SchoolAdmitted').on('change', function () {
        jQuery.getJSON("/bundles", "q={'q':'levs','sid':'" + jQuery(this).val() + "'}", function (res, status) {
            status === "success" && typeof res !== "undefined" && res.s == 1 && jQuery('#LevelAdmitted').empty() && jQuery.each(res.data, function (index, item) {
               jQuery('#LevelAdmitted').append(
                    jQuery('<option></option>').val(item.id).html(item.name)
                );
            });
        }),
        jQuery.getJSON("/bundles", "q={'q':'streams','sid':'" + jQuery(this).val() + "'}", function (res, status) {
            status === "success" && typeof res !== "undefined" && res.s == 1 && jQuery('#StreamAdmitted').empty() && jQuery.each(res.data, function (index, item) {
                jQuery('#StreamAdmitted').append(
                     jQuery('<option></option>').val(item.id).html(item.name)
                 );
            });
        })
    });
     //Countys
    jQuery('#PrimarySchoolCountry').on('change', function () {
        var id = jQuery(this).val(), j = (id == 1) ? "bu" : (id == 2) ? j = "ke" : (id == 3) ? "tz" : (id == 4) ? "rw" : "ug";
        jQuery.getScript("/libs/cached/district-"+j+".js", function (res, status) {
            typeof res !== "undefined" &&(res = JSON.parse(res),  jQuery('#PrimarySchoolCounty').empty() && jQuery.each(res, function (index, item) {
                jQuery('#PrimarySchoolCounty').append(
                     jQuery('<option></option>').val(item.code).html(item.name)
                 );
            }));
        })
    });
    jQuery('.date-input').datepicker({
        dateFormat: 'M-dd-yy',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        onSelect: function (selectedDate) {
        },
        onClose: function (selectedDate) {
            selectedDate = new Date(selectedDate)
            selectedDate.setFullYear(Number(selectedDate.getFullYear()) + 1);
        }
    });
    //
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#photo-preview').attr('src', e.target.result);
            }
            var file = input.files[0]

            jQuery('#photo-desc').innerHTML = file.name + " (" + file.size / 1024 + " KB)"

            reader.readAsDataURL(file);
        }
    }
                </script>

            }
}


        