﻿@using Microsoft.EntityFrameworkCore;
@inject IOptions<AppSettings> AppSettings
@inject ApplicationDbContext dbContext
@{
    // See Index.cshtml for full comments.
    ViewBag.Title = "Schools";
    ViewBag.Description = "The High School Management System about page.";

    Layout = "_SetupsLayout";

}
@inject com.bkss.Services.IAppCacheService cache
@section head
{
    @* See Index.cshtml for full comments. *@
    <meta name="author" content="Bourne Koloh">
    <twitter-card-summary-large-image username="@@bkss_tw">
    <open-graph-business site-name="@AppSettings.Value.SiteTitle"
                         title="@ViewBag.Title"
                         main-image="@(new OpenGraphImage(
                                         Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                                         ContentType.Png,
                                         1200,
                                         630))"
                         contact-data="@(new OpenGraphContactData("1 Street Name", "City", "SW1 1SW", "United Kingdom")
{
    Email = "email@example.com",
    Phone = "111-222-333-444",
    Website = Url.AbsoluteRouteUrl(HomeControllerRoute.GetIndex)
})"
                         location="@(new OpenGraphLocation(51.5286417, -0.1015987))"
                         determiner="Blank">
    <meta asp-referrer="OriginWhenCrossOrigin">
}

@{ 
    var Lessons = new List<SubjectLesson>();
    int termId = ViewBag.TermId ?? 0;
    if (termId > 0)
    {
        var timeTable = dbContext.TimeTables.SingleOrDefault(l => l.TermId == termId);
        if (timeTable != null)
        {
            Lessons = dbContext.Lessons.Include(l => l.Classroom).Include(k => k.Subject).ToList();
        }
    }
}
        <div id="content" style="margin-top:30px;margin-bottom:80px">
            <header style="text-align:center;">
                <h2>
                    <span class="widget-icon"> <i class="fa fa-gears"></i> </span>&nbsp;&nbsp;
                    <a href="javascript:void(0)" style="font-weight:bold">SYSTEM SETUP </a>&nbsp;&nbsp; <i class="fa fa-minus"></i>&nbsp;&nbsp; <a href="javascript:void(0)" style="font-weight:bold;cursor:default">@cache.GetSchool().CountrySchool.Name</a>
                    <br />
                    <br />
                </h2>
            </header>
            <div id="bootstrap-wizard-1" class="col-sm-12">
                <div class="form-bootstrapWizard">
                    <ul class="bootstrapWizard form-wizard">
                        <li class="" id="step-1" data-target="#step1" data-link="@Url.RouteUrl(SetupsControllerRoute.AddLevel)">
                            <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">SCHOOL INFORMATION</span> </a>
                        </li>
                        <li class="active" data-target="#step2" id="step-2" data-link="@Url.RouteUrl(SetupsControllerRoute.GetAcademics)">
                            <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">TUTION &amp; ACCADEMIS</span> </a>
                        </li>
                        <li data-target="#step3" id="step-3" data-link="@Url.RouteUrl(SetupsControllerRoute.GetStaff)">
                            <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">STUDENTS &amp; STAFF</span> </a>
                        </li>
                        <li data-target="#step4" id="step-4" data-link="@Url.RouteUrl(SetupsControllerRoute.GetFinance)">
                            <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">FINANCE</span> </a>
                        </li>
                        <li data-target="#step5" id="step-5" data-link="@Url.RouteUrl(SetupsControllerRoute.GetAmmenities)">
                            <a href="#tab5" data-toggle="tab"> <span class="step">5</span> <span class="title">SCHOOL AMMENITIES</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- row -->
            <div class="row" style="margin-top:50px">
                <div class="clearfix" style="clear:both"></div>
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">
                    
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-book"></i> </span>
                                <h2>TUTION &amp; ACADEMICS </h2>
                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body">

                                    <div class="row">
                                        
                                        <div id="bootstrap-wizard-1" class="col-sm-12">
                                            <div class="tab-content">                                                
                                                <div class="tab-pane" id="tab1">                                                  

                                                </div>
                                                <div class="tab-pane active" id="tab2">
                                                    <div asp-controller="Setups" asp-action="Academics" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="wizard-1" novalidate="novalidate">
                                                        
                                                        <div>

                                                            <!-- widget edit box -->
                                                            <div class="jarviswidget-editbox">
                                                                <!-- This area used as dropdown edit box -->

                                                            </div>
                                                            <!-- end widget edit box -->
                                                            <!-- widget content -->
                                                            <div class="widget-body fuelux">

                                                                <div class="wizard">
                                                                    <ul class="steps">
                                                                        <li data-target="#step1" class="@(ViewBag.Index == null ? "active" : ViewBag.Index == 0 ? "active" : "")">
                                                                            <span class="badge badge-info">1</span>Academic Years<span class="chevron"></span>
                                                                        </li>
                                                                        <li data-target="#step2" class="@(ViewBag.Index == 1 ? "active" : "")">
                                                                            <span class="badge">2</span>Academic Terms<span class="chevron"></span>
                                                                        </li>
                                                                        <li data-target="#step3" class="@(ViewBag.Index == 2 ? "active" : "")">
                                                                            <span class="badge">3</span>Academic Subjects<span class="chevron"></span>
                                                                        </li>
                                                                        <li data-target="#step4" class="@(ViewBag.Index == 3 ? "active" : "")">
                                                                            <span class="badge">4</span>Subject Exams<span class="chevron"></span>
                                                                        </li>
                                                                        <li data-target="#step5" class="@(ViewBag.Index == 4 ? "active" : "")">
                                                                            <span class="badge">5</span>Time Tables<span class="chevron"></span>
                                                                        </li>
                                                                        <li data-target="#step6" class="@(ViewBag.Index == 5 ? "active" : "")">
                                                                            <span class="badge">6</span>Finish<span class="chevron"></span>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="actions">
                                                                        <button type="button" class="btn btn-sm btn-primary btn-prev">
                                                                            <i class="fa fa-arrow-left"></i>Prev
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm btn-success btn-next" data-last="Finish">
                                                                            Next<i class="fa fa-arrow-right"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="step-content">
                                                                    @if (ViewData.ModelState.ErrorCount > 0)
                                                                    {
                                                                        foreach (var e in ViewData.ModelState)
                                                                        {
                                                                            if (e.Value.Errors.Count > 0)
                                                                            {
                                                                                <div class="alert alert-danger fade in">
                                                                                    <button class="close" data-dismiss="alert">
                                                                                        ×
                                                                                    </button>
                                                                                    <i class="fa-fw fa fa-times"></i>
                                                                                    <ul>
                                                                                        @foreach (var j in e.Value.Errors)
                                                                                        {
                                                                                            <li><strong>Error!</strong> @j.ErrorMessage</li>
                                                                                        }
                                                                                    </ul>
                                                                                </div>
                                                                            }

                                                                        }
                                                                        @*<div asp-validation-summary="All" class="text-danger cke_required"></div>*@
                                                                        @*<div class="row">
                                                                        <h3><strong>Step 2 </strong> - Add Office</h3>

                                                                        <div class="alert alert-warning fade in">
                                                                            <button class="close" data-dismiss="alert">
                                                                                ×
                                                                            </button>
                                                                            <i class="fa-fw fa fa-warning"></i>
                                                                            <strong>Warning</strong> Your monthly traffic is reaching limit.
                                                                        </div>

                                                                        <div class="alert alert-success fade in">
                                                                            <button class="close" data-dismiss="alert">
                                                                                ×
                                                                            </button>
                                                                            <i class="fa-fw fa fa-check"></i>
                                                                            <strong>Success</strong> The page has been added.
                                                                        </div>

                                                                        <div class="alert alert-info fade in">
                                                                            <button class="close" data-dismiss="alert">
                                                                                ×
                                                                            </button>
                                                                            <i class="fa-fw fa fa-info"></i>
                                                                            <strong>Info!</strong> You have 198 unread messages.
                                                                        </div>

                                                                        <div class="alert alert-danger fade in">
                                                                            <button class="close" data-dismiss="alert">
                                                                                ×
                                                                            </button>
                                                                            <i class="fa-fw fa fa-times"></i>
                                                                            <strong>Error!</strong> The daily cronjob has failed.
                                                                        </div>
                                                                    </div>*@

                                                                    }
                                                                    <section class="form-horizontal">

                                                                        <div class="step-pane @(ViewBag.Index == null ? "active" : ViewBag.Index == 0 ? "active" : "")" id="step1">

                                                                           @{Html.RenderPartial("_AddYear", new AddYearViewModel()); }

                                                                        </div>
                                                                        <div class="step-pane  @(ViewBag.Index == 1 ? "active" : "")" id="step2">

                                                                            @{Html.RenderPartial("_AddTerm", new AddTermViewModel()); }
                                                                           @*<div>
                                                                               <div class="alert alert-warning fade in">
                                                                                   <button class="close" data-dismiss="alert">
                                                                                       ×
                                                                                   </button>
                                                                                   <i class="fa-fw fa fa-warning"></i>
                                                                                   <strong>Warning</strong> Your monthly traffic is reaching limit.
                                                                               </div>

                                                                               <div class="alert alert-success fade in">
                                                                                   <button class="close" data-dismiss="alert">
                                                                                       ×
                                                                                   </button>
                                                                                   <i class="fa-fw fa fa-check"></i>
                                                                                   <strong>Success</strong> The page has been added.
                                                                               </div>

                                                                               <div class="alert alert-info fade in">
                                                                                   <button class="close" data-dismiss="alert">
                                                                                       ×
                                                                                   </button>
                                                                                   <i class="fa-fw fa fa-info"></i>
                                                                                   <strong>Info!</strong> You have 198 unread messages.
                                                                               </div>

                                                                               <div class="alert alert-danger fade in">
                                                                                   <button class="close" data-dismiss="alert">
                                                                                       ×
                                                                                   </button>
                                                                                   <i class="fa-fw fa fa-times"></i>
                                                                                   <strong>Error!</strong> The daily cronjob has failed.
                                                                               </div>
                                                                           </div>*@

                                                                        </div>

                                                                        <div class="step-pane  @(ViewBag.Index == 2 ? "active" : "")" id="step3">
                                                                            @*<h3><strong>Step 4 </strong> - Wizard continued</h3>
                                                                            <div>
                                                                                <br>
                                                                                <br>
                                                                                <h1 class="text-center text-primary"> This will be your Step 3 </h1>
                                                                                <br>
                                                                                <br>
                                                                                <br>
                                                                                <br>
                                                                            </div>*@
                                                                            @{Html.RenderPartial("_AddSubject", new AddSubjectViewModel()); }
                                                                        </div>

                                                                        <div class="step-pane  @(ViewBag.Index == 3 ? "active" : "")" id="step4">


                                                                            <h3>
                                                                                <br />
                                                                                <strong>Step 5 </strong> - Academic Exams Setup
                                                                            </h3>
                                                                            <div class="jarviswidget" id="wid-id-8" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                                                                                @if (dbContext.Grades.Count() == 0 || ViewBag.Mode == 2)
                                                                                {
                                                                                    if (ViewBag.Index == 4)
                                                                                    {
                                                                                        ViewBag.Message = "Exam grading has to be configured before adding exams to the system";
                                                                                    }
                                                                                }
                                                                                else if (dbContext.ExamTypes.Count() == 0 || ViewBag.Mode == 1)
                                                                                {
                                                                                    if (ViewBag.Index == 4)
                                                                                    {
                                                                                        ViewBag.Message = "Exam types need to be configured before adding exams to the system";
                                                                                    }
                                                                                }
                                                                                <header>
                                                                                    <ul class="nav nav-tabs pull-right in">

                                                                                        <li class="@(ViewBag.Mode == null?"active":ViewBag.Mode==0?"active":"")">

                                                                                            <a data-toggle="tab" href="#hb1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> 
                                                                                            <span class="hidden-mobile hidden-tablet"> Add Exams <span class="label bg-color-blue txt-color-white"> Important 
                                                                                                <i class="fa fa-exclamation"></i> </span>
                                                                                                </span>
                                                                                             </a>

                                                                                        </li>

                                                                                        <li class="@(ViewBag.Mode == 1?"active":"")">
                                                                                            <a data-toggle="tab" href="#hb2"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> 
                                                                                            <span class="hidden-mobile hidden-tablet"> Add Exam Types 
                                                                                                <span class="label bg-color-blue txt-color-white"> Important <i class="fa fa-exclamation"></i> </span> </span> </a>
                                                                                        </li>
                                                                                        <li class="@(ViewBag.Mode == 2?"active":"")">
                                                                                            <a data-toggle="tab" href="#hb3"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> 
                                                                                            <span class="hidden-mobile hidden-tablet"> Add Exam Grades 
                                                                                                <span class="label bg-color-blue txt-color-white"> Impotant <i class="fa fa-exclamation"></i> </span> </span> </a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </header>

                                                                                <!-- widget div-->
                                                                                <div>

                                                                                    <!-- widget edit box -->
                                                                                    <div class="jarviswidget-editbox">
                                                                                        <!-- This area used as dropdown edit box -->

                                                                                    </div>
                                                                                    <!-- end widget edit box -->
                                                                                    <!-- widget content -->
                                                                                    <div class="widget-body">

                                                                                        <div class="tab-content">
                                                                                            <div class="tab-pane @(ViewBag.Mode == null?"active":ViewBag.Mode==0?"active":"")" id="hb1">

                                                                                                <div class="tabbable tabs-below">
                                                                                                    @*<div class="tab-content padding-10">
                                                                                                        <div class="tab-pane active" id="A1">
                                                                                                            <p>
                                                                                                                When I stare at the sky, I see you. When I stare out into the ocean, I see you. When I'm looking at the moon, I see you. Geez! Would you move aside, you're constantly getting in my way!
                                                                                                            </p>
                                                                                                        </div>
                                                                                                        <div class="tab-pane" id="B1">
                                                                                                            <p>
                                                                                                                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                                                                                                            </p>
                                                                                                        </div>
                                                                                                        <div class="tab-pane" id="C1">
                                                                                                            <p>
                                                                                                                Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table.
                                                                                                            </p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <ul class="nav nav-tabs">
                                                                                                        <li class="active pull-right">
                                                                                                            <a data-toggle="tab" href="#A1">Tab 1</a>
                                                                                                        </li>
                                                                                                        <li class="pull-right">
                                                                                                            <a data-toggle="tab" href="#B1">Tab 2</a>
                                                                                                        </li>
                                                                                                        <li class="pull-right">
                                                                                                            <a data-toggle="tab" href="#C1">Tab 3</a>
                                                                                                        </li>
                                                                                                    </ul>*@
                                                                                                    @{Html.RenderPartial("_AddExam", new AddExamViewModel()); }
                                                                                                </div>

                                                                                            </div>
                                                                                            <div class="tab-pane @(ViewBag.Mode == 1?"active":"")" id="hb2">

                                                                                                @*<ul id="internal-tab-1" class="nav nav-tabs tabs-pull-right">
                                                                                                    <li class="active">
                                                                                                        <a href="#is1" data-toggle="tab">Item 1</a>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <a href="#is2" data-toggle="tab">Item 2</a>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <a href="#is3" data-toggle="tab">Item 3</a>
                                                                                                    </li>
                                                                                                </ul>
                                                                                                <div class="tab-content padding-10">
                                                                                                    <div class="tab-pane active" id="is1">
                                                                                                        <p>
                                                                                                            I love everyone! I love to be around some people, I love to stay away from others, and some I'd just love to punch right in the face!

                                                                                                        </p>
                                                                                                    </div>
                                                                                                    <div class="tab-pane fade" id="is2">
                                                                                                        <p>
                                                                                                            Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                                                                                                        </p>
                                                                                                    </div>
                                                                                                    <div class="tab-pane fade" id="is3">
                                                                                                        <p>
                                                                                                            Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table.
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </div>*@
                                                                                                @{ Html.RenderPartial("_AddExamType", new AddExamTypeViewModel());}
                                                                                            </div>
                                                                                            <div class="tab-pane @(ViewBag.Mode == 2?"active":"")" id="hb3">

                                                                                                @*<ul id="internal-tab-1" class="nav nav-tabs tabs-pull-right">
                                                                                                    <li class="active">
                                                                                                        <a href="#is1" data-toggle="tab">Item 1</a>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <a href="#is2" data-toggle="tab">Item 2</a>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <a href="#is3" data-toggle="tab">Item 3</a>
                                                                                                    </li>
                                                                                                </ul>
                                                                                                <div class="tab-content padding-10">
                                                                                                    <div class="tab-pane active" id="is1">
                                                                                                        <p>
                                                                                                            I love everyone! I love to be around some people, I love to stay away from others, and some I'd just love to punch right in the face!

                                                                                                        </p>
                                                                                                    </div>
                                                                                                    <div class="tab-pane fade" id="is2">
                                                                                                        <p>
                                                                                                            Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                                                                                                        </p>
                                                                                                    </div>
                                                                                                    <div class="tab-pane fade" id="is3">
                                                                                                        <p>
                                                                                                            Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table.
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </div>*@
                                                                                                @{ Html.RenderPartial("_AddExamGrade", new AddExamGradeViewModel());}                                                                                                
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                    <!-- end widget content -->

                                                                                </div>
                                                                                <!-- end widget div -->

                                                                            </div>
                                                                                
                                                                            @*<h3><strong>Step 5 </strong> - Wizard continued...</h3>
                                                                            <div>
                                                                                <br>
                                                                                <br>
                                                                                <h1 class="text-center text-danger"> This will be your Step 4 </h1>
                                                                                <br>
                                                                                <br>
                                                                                <br>
                                                                                <br>
                                                                            </div>*@
                                                                        </div>
                                                                        <div class="step-pane  @(ViewBag.Index == 4 ? "active" : "")" id="step5">
                                                                            @{Html.RenderPartial("_AddTimeTable", new AddTimeTableViewModel()); }
                                                                        </div>

                                                                        <div class="step-pane  @(ViewBag.Index == 5 ? "active" : "")" id="step6">
                                                                            <form class="form-horizontal" id="fuelux-wizard" method="post" asp-route="@Url.RouteUrl(SetupsControllerRoute.GetAcademics)">
                                                                                <h3>Finished!</h3>
                                                                                <div>
                                                                                    <br>
                                                                                    <br>
                                                                                    <h1 class="text-center text-success">
                                                                                        <i class="fa fa-check"></i> Academic Modules have now been configured.<br />
                                                                                        <br>
                                                                                        <small>Click finish to end wizard</small>
                                                                                    </h1>
                                                                                    <br>
                                                                                    <br />
                                                                                    <p class="text-align-center">
                                                                                        or
                                                                                    </p>
                                                                                    <br>
                                                                                    <div class="text-align-center">
                                                                                        <a href="@Url.RouteUrl(HomeControllerRoute.GetIndex)" class="btn btn-lg  btn-primary" style="color:#fff"><i class="fa fa-home"></i>&nbsp; Go Home</a>
                                                                                    </div>
                                                                                    <br>
                                                                                    <br>
                                                                                </div>
                                                                                </form>
                                                                            </div>

                                                                    </section>
                                                                </div>

                                                            </div>
                                                            <!-- end widget content -->

                                                        </div>
                                                    </div>                                                   
                                                </div>
                                                <div class="tab-pane" id="tab3">
                                                                                           
                                                </div>
                                                <div class="tab-pane" id="tab4">                                                    
                                                </div>

                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <ul class="pager wizard no-margin">
                                                                <!--<li class="previous first disabled">
                            <a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
                            </li>-->
                                                                <li class="previous">
                                                                    <a href="javascript:void(0);" class="btn btn-lg btn-default"> Previous </a>
                                                                </li>
                                                                <!--<li class="next last">
                            <a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
                            </li>-->
                                                                <li class="next" data-link="@Url.RouteUrl(SetupsControllerRoute.GetStaff)">
                                                                    <a href="javascript:void(0);" class="btn btn-lg btn-primary txt-color-darken"> Next </a>
                                                                </li>
                                                                <li class="next save">
                                                                    <a href="javascript:void(0);" class="btn btn-lg txt-color-darken"> Save..</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

</article>
                <!-- end row -->

            </div>

        </div>
        <!-- END MAIN CONTENT -->
        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
        section can be used to enter custom scripts specific to this page. *@
        @section scripts
{
        <script src="~/libs/js/plugin/moment/moment.min.js"></script>
        <script src="~/libs/js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>
        <script src="~/libs/js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
        

        <script src="~/libs/js/plugin/dropzone/dropzone.min.js"></script>

           <script>
               var lessons = [];
              @if(Lessons.Count > 0){
                  var data = "";int j = 0;
                  foreach (var e in Lessons)
                  {
                      data += "{title: '"+e.Title+"',";
                      data += "{description: '" + e.Description + "',";
                      data += "start: new Date("+e.Starts.ToString()+"),";
                      data += "end: new Date("+e.Ends.ToString()+"),";
                      data += "allDay: "+e.IsFullDay.ToString().ToLower()+",";
                      data += "className: "+(e.Priority??"[\"event\", \"bg-color-darken\"]")+",";
                      data += "icon: '"+(e.Icon??"fa-clock-o")+"',";
                      data += "roomId: '" + e.Classroom.Id + "',";
                      data += "termId: '" + e.TimeTable.TermId + "',";
                      data += "subjectId: '" + e.Subject.Id + "',";
                      data += "}";
                      if (j < Lessons.Count)
                      {
                          data += ",";
                      }
                      j++;
                  }
                  <text>
                lessons = JSON.parse('[@data]')
              </text>
              }
               // YEAR START AND ENDS DATE
               jQuery('#yearends').datepicker({
                   dateFormat: 'M-dd-yy',
                   prevText: '<i class="fa fa-chevron-left"></i>',
                   nextText: '<i class="fa fa-chevron-right"></i>',
                   onSelect: function (selectedDate) {
                   },
                   onClose: function (selectedDate) {           
                       selectedDate = new Date(selectedDate)
                       selectedDate.setFullYear(Number(selectedDate.getFullYear()) - 1);
                       jQuery('#yearstarts').datepicker('option', 'minDate', selectedDate);
                   }
               });

               jQuery('#yearstarts').datepicker({
                   dateFormat: 'M-dd-yy',
                   prevText: '<i class="fa fa-chevron-left"></i>',
                   nextText: '<i class="fa fa-chevron-right"></i>',
                   onSelect: function (selectedDate) {     
                   },
                   onClose: function (selectedDate) {
                       jQuery('#yearends').val(selectedDate)
                       selectedDate = new Date(selectedDate)
                       selectedDate.setFullYear(Number(selectedDate.getFullYear())+1);
                       jQuery('#yearends').datepicker('option', 'minDate', selectedDate);
                   }
               });
               // TERM START AND ENDS DATE
               jQuery('#termends').datepicker({
                   dateFormat: 'M-dd-yy',
                   numberOfMonths: 3,
                   prevText: '<i class="fa fa-chevron-left"></i>',
                   nextText: '<i class="fa fa-chevron-right"></i>',
                   onSelect: function (selectedDate) {
                       var d = selectedDate.setMonth(selectedDate.getMonth() - 1);
                       jQuery('#termstarts').datepicker('option', 'minDate', d);
                   },
                    onClose: function (selectedDate) {
                        var d = selectedDate.setMonth(selectedDate.getMonth() - 1);
                        jQuery("#termstarts").datepicker("option", "maxDate", d);
                    }
               });

               jQuery('#termstarts').datepicker({
                   dateFormat: 'M-dd-yy',
                   prevText: '<i class="fa fa-chevron-left"></i>',
                   nextText: '<i class="fa fa-chevron-right"></i>',
                   numberOfMonths: 3,
                   onSelect: function (selectedDate) {
                   },
                   onClose: function (selectedDate) {
                       alert('Term Starts '+selectedDate)
                       jQuery('#termends').val(selectedDate)
                       selectedDate = new Date(selectedDate)
                       selectedDate.setMonth(Number(selectedDate.getMonth()) + 3);
                       jQuery('#termends').datepicker('option', 'minDate', selectedDate);
                   }
               });
               // LESSON START AND FINISH DATE
               jQuery('#finishtime').timepicker({
                   //dateFormat: 'hh:mm i',
                   ampm: true,
                   hourMin: 7,
                   hourMax: 17,
                   prevText: '<i class="fa fa-chevron-left"></i>',
                   nextText: '<i class="fa fa-chevron-right"></i>',
                   onSelect: function (selectedDate) {
                       var d = selectedDate.setHour(selectedDate.getHour() - 1);
                       jQuery('#starttime').datepicker('option', 'minDate', d);
                   }
               });

               jQuery('#starttime').timepicker({
                   //dateFormat: 'hh:mm i',
                   ampm: true,
                   hourMin: 7,
                   hourMax: 17,
                   prevText: '<i class="fa fa-chevron-left"></i>',
                   nextText: '<i class="fa fa-chevron-right"></i>',
                   //onSelect: function (selectedDate) {
                   //    alert('Start Time = '+selectedDate)
                   //    jQuery('#endtime').val(selectedDate)
                   //    selectedDate = moment(selectedDate, ["h:mm A"])
                   //    selectedDate.setHours(Number(selectedDate.getHours()) + 1);
                   //    jQuery('#endtime').timepicker('option', 'minTime', selectedDate);
                   //},
                   onSelect: function (dateText) {
                       alert('Start Time = ' + dateText)
                       var time = new Date($(this).datetimepicker('getDate').getTime());
                       $('#endtime').timepicker('option', 'minDateTime', time);
                   }
               });

               jQuery(document).ready(function () {

                   "use strict";

                   var date = new Date();
                   var d = date.getDate();
                   var m = date.getMonth();
                   var y = date.getFullYear();

                   var hdr = {
                       left: 'title',
                       center: 'month,agendaWeek,agendaDay',
                       right: 'prev,today,next'
                   };

                   var initDrag = function (e) {
                       // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                       // it doesn't need to have a start or end

                       var eventObject = {
                           title: $.trim(e.children().text()), // use the element's text as the event title
                           description: $.trim(e.children('span').attr('data-description')),
                           icon: $.trim(e.children('span').attr('data-icon')),
                           className: $.trim(e.children('span').attr('class')), // use the element's children as the event class
                           rooId: $.trim(e.children('span').attr('data-roomId')),
                           subjectId: $.trim(e.children('span').attr('data-subjectId')),
                           termId: $.trim(e.children('span').attr('data-termId')),
                       };
                       // store the Event Object in the DOM element so we can get to it later
                       e.data('eventObject', eventObject);

                       // make the event draggable using jQuery UI
                       e.draggable({
                           zIndex: 999,
                           revert: true, // will cause the event to go back to its
                           revertDuration: 0 //  original position after the drag
                       });
                   };

                   var addEvent = function (id,title, priority, description, icon,rootmId,termId,subjectId) {
                       title = title.length === 0 ? "Untitled Event" : title;
                       description = description.length === 0 ? "No Description" : description;
                       icon = icon.length === 0 ? " " : icon;
                       priority = priority.length === 0 ? "label label-default" : priority;

                       roomId: parseInt(roomId);
                       termId: parseInt(termId);
                       subjectId: parseInt(subjectId);

                       var html = jQuery('<li><span class="' + priority + '" data-id="'+id+'" data-description="' + description + '" data-termId="' +termId + '" data-subjectId="' +subjectId + '" data-roomId="' +roomId + '" data-icon="' +
                           icon + '">' + title + '</span></li>').prependTo('ul#external-events').hide().fadeIn();


                       jQuery("#event-container").effect("highlight", 800);

                       initDrag(html);
                   };

                   /* initialize the external events
                    -----------------------------------------------------------------*/

                   jQuery('#external-events > li').each(function () {
                       initDrag(jQuery(this));
                   });

                   jQuery('#add-lesson').click(function () {
                       var title = jQuery('#Title').val(),
                           priority = jQuery('input:radio[name=Priority]:checked').val(),
                           desc = jQuery('#LessonDescription').val(),
                           ic = jQuery('input:radio[name=iconselect]:checked').val(),
                           roomId = jQuery('#RoomId').val() === 'undefined' ? jQuery('select[name=RoomId]') : jQuery('#RoomId').val(),
                           termId = jQuery('#Term').val() === 'undefined' ? jQuery('select[name=Term]') : jQuery('#Term').val(),
                           subjectId = jQuery('#SubjectId').val(),
                           starts = moment(jQuery('#starttime').val(), ["h:mm A"]),
                           ends = moment(jQuery('#finishtime').val(), ["h:mm A"]);
                       if (roomId === '') {
                           jQuery.smallBox({
                               title: "No Venue!!",
                               content: "<p>Please specify lessons venue.</p><br/><i class='fa fa-warning'></i> <i>Error..</i>",
                               color: "#FF5520",
                               iconSmall: "fa fa-times-circle bounce animated",
                               timeout: 8000
                           })
                       } else if (termId === '') {
                           jQuery.smallBox({
                               title: "Lesson Term!!",
                               content: "<p>Lesson's term not specified.</p><br/><i class='fa fa-warning'></i> <i>Error..</i>",
                               color: "#FF5520",
                               iconSmall: "fa fa-times-circle bounce animated",
                               timeout: 8000
                           })

                       } else if (subjectId == '') {
                           jQuery.smallBox({
                               title: "Subject Id!!",
                               content: "<p>Lesson's subject has not been set.</p><br/><i class='fa fa-warning'></i> <i>Error..</i>",
                               color: "#FF5520",
                               iconSmall: "fa fa-times-circle bounce animated",
                               timeout: 8000
                           })

                       } else if (starts && ends) {
                           alert('Starts = ' + starts.toDate() + ', Ends = ' + ends.toDate())
                           var e = {
                               title: title,
                               description: desc,
                               id: starts,
                               start: starts.toDate(),
                               end: ends.toDate(),
                               allDay: false,
                               className: priority.length === 0 ? ["event", "bg-color-blue"] : priority,
                               icon: ic.length === 0 ? 'fa-clock-o' :ic,
                               roomId: parseInt(roomId),
                               termId: parseInt(termId),
                               subjectId: parseInt(subjectId),
                           };
                           //
                           if (checkOverlap(e)) {
                               alert('Slot has a lesson..')
                               return;
                           }
                           //Add
                           jQuery('#calendar').fullCalendar('renderEvent', e);
                           //
                           //addEvent(JSON.stringify(starts), title, priority, description, icon, roomId, termId, subjectId);
                           jQuery.jGrowl("Lesson '"+title+"' has been added to the calendar.", {
                                   beforeClose: function (e, m) {
                                       //alert('About to close this notification!');
                                   },
                                   animateOpen: {
                                       height: 'show'
                                   },
                                   theme: 'manilla',
                                  header: 'Lesson Added.'
                           });
                       } else {
                           addEvent('0', title, priority, description, icon, roomId, termId, subjectId);
                       }
                       
                   });
                   //
                   function checkOverlap(event) {

                       var start = new Date(event.start);
                       var end = new Date(event.end);

                       var overlap = jQuery('#calendar').fullCalendar('clientEvents', function (ev) {
                           if (ev == event)
                               return false;
                           var estart = new Date(ev.start);
                           var eend = new Date(ev.end);

                           return (Math.round(estart) / 1000 < Math.round(end) / 1000 && Math.round(eend) > Math.round(start));
                       });

                       if (overlap.length) {
                           //either move this event to available timeslot or remove it
                           return true;
                       }
                       return false
                   }
                   alert('Lessons = '+lessons.length)
                   /* initialize the calendar
                    -----------------------------------------------------------------*/
                   jQuery('#calendar').fullCalendar({

                       header: hdr,
                       buttonText: {
                           prev: '<i class="fa fa-chevron-left"></i>',
                           next: '<i class="fa fa-chevron-right"></i>'
                       },
                       defaultView: 'agendaWeek',
                       editable: true,
                       droppable: true, // this allows things to be dropped onto the calendar !!!

                       drop: function (date, allDay) { // this function is called when something is dropped

                           // retrieve the dropped element's stored Event Object
                           var originalEventObject = jQuery(this).data('eventObject');

                           // we need to copy it, so that multiple events don't have a reference to the same object
                           var copiedEventObject = $.extend({}, originalEventObject);

                           // assign it the date that was reported
                           copiedEventObject.start = date;
                           copiedEventObject.allDay = allDay;

                           // render the event on the calendar
                           // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                           jQuery('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                           // is the "remove after drop" checkbox checked?
                           if (jQuery('#drop-remove').is(':checked')) {
                               // if so, remove the element from the "Draggable Events" list
                               jQuery(this).remove();
                           }

                       },

                       select: function (start, end, allDay) {
                           var title = prompt('Lesson Title:');
                           if (title) {
                               calendar.fullCalendar('renderEvent', {
                                   title: title,
                                   start: start,
                                   end: end,
                                   allDay: allDay
                               }, true // make the event "stick"
                               );
                           }
                           calendar.fullCalendar('unselect');
                       },
                       events:lessons,
                       //events: [{
                       //    title: 'All Day Lesson',
                       //    start: new Date(y, m, 1),
                       //    description: 'long description',
                       //    className: ["event", "bg-color-greenLight"],
                       //    icon: 'fa-check'
                       //}, {
                       //    title: 'Long Event',
                       //    start: new Date(y, m, d - 5),
                       //    end: new Date(y, m, d - 2),
                       //    className: ["event", "bg-color-red"],
                       //    icon: 'fa-lock'
                       //}, {
                       //    id: 999,
                       //    title: 'Repeating Lesson',
                       //    start: new Date(y, m, d - 3, 16, 0),
                       //    allDay: false,
                       //    className: ["event", "bg-color-blue"],
                       //    icon: 'fa-clock-o'
                       //}, {
                       //    id: 999,
                       //    title: 'Repeating Lesson',
                       //    start: new Date(y, m, d + 4, 16, 0),
                       //    allDay: false,
                       //    className: ["event", "bg-color-blue"],
                       //    icon: 'fa-clock-o'
                       //}, {
                       //    title: 'Meeting',
                       //    start: new Date(y, m, d, 10, 30),
                       //    allDay: false,
                       //    className: ["event", "bg-color-darken"]
                       //}, {
                       //    title: 'Lunch',
                       //    start: new Date(y, m, d, 12, 0),
                       //    end: new Date(y, m, d, 14, 0),
                       //    allDay: false,
                       //    className: ["event", "bg-color-darken"]
                       //}, {
                       //    title: 'Birthday Party',
                       //    start: new Date(y, m, d + 1, 19, 0),
                       //    end: new Date(y, m, d + 1, 22, 30),
                       //    allDay: false,
                       //    className: ["event", "bg-color-darken"]
                       //}, {
                       //    title: 'Physics Lesson',
                       //    start: new Date(y, m, 28),
                       //    end: new Date(y, m, 29),
                       //    className: ["event", "bg-color-darken"]
                       //}],

                       eventRender: function (event, element, icon) {
                           if (!event.description == "") {
                               element.find('.fc-event-title').append("<br/><span class='ultra-light'>" + event.description +
                                   "</span>");
                           } else {
                               //element.find('.fc-event-title').append("<br/><span class='ultra-light'>Desc : Not Available</span>");
                           }
                           if (!event.icon == "") {
                               element.find('.fc-event-title').append("<i class='air air-top-right fa " + event.icon +
                                   " ' style='padding:4px;font-color:#0099ff'></i>");
                           } else {
                               //element.find('.fc-event-title').append("<i class='air air-top-right fa fa-clock ' style='padding:4px;font-color:#0099ff'></i>");

                           }
                           ////element.append( "<span class='closeon'>X</span>" );
                           ////element.find(".closeon").click(function() {
                           ////    $('#calendar').fullCalendar('removeEvents',event._id);
                           ////});
                           //element.find(".fc-bg").css("pointer-events","none");
                           //element.append("<div style='position:absolute;bottom:0px;right:0px' ><img id='btnDeleteEvent' src='/img/clear.png' style='height:16px;width:16px padding:1px;z-index:1000' class=''/></div>" );
                           //element.find("#btnDeleteEvent").click(function(){
                           //    $('#calendar').fullCalendar('removeEvents',event._id);
                           //});

                           //jQuery(element).editable({ title: 'Event Options' })
                       },
                       eventClick: function(calEvent, jsEvent, view) {

                           alert('Event: ' + calEvent.title);
                           alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                           alert('View: ' + view.name);
                           // change the border color just for fun
                           $(this).css('border', 'solid thin red');

                       },
                       windowResize: function (event, ui) {
                           jQuery('#calendar').fullCalendar('render');
                       }
                   });

                   /* hide default buttons */
                   jQuery('.fc-header-right, .fc-header-center').hide();
                   jQuery('#calendar-buttons #btn-prev').click(function () {
                       jQuery('.fc-button-prev').click();
                       return false;
                   });
                   jQuery('#calendar-buttons #btn-next').click(function () {
                       jQuery('.fc-button-next').click();
                       return false;
                   });
                   jQuery('#calendar-buttons #btn-refresh').click(function () {
                       jQuery('#calendar').fullCalendar('render');
                       return false;
                   });
                   jQuery('#calendar-buttons #btn-today').click(function () {
                       jQuery('.fc-button-today').click();
                       return false;
                   });
                   jQuery('#mt').click(function () {
                       jQuery('#calendar').fullCalendar('changeView', 'month');
                   });
                   jQuery('#ag').click(function () {
                       jQuery('#calendar').fullCalendar('changeView', 'agendaWeek');
                   });
                   jQuery('#td').click(function () {
                       jQuery('#calendar').fullCalendar('changeView', 'agendaDay');
                   });
                   jQuery('#save-timetable').click(function (e) {
                       alert('Save Timetable...')
                       var lessons = $('#calendar').fullCalendar('clientEvents');
                       if (lessons.length == 0) {
                           jQuery.smallBox({
                               title: "No Lessons!!",
                               content: "<p>No Lessons have been added to the calendar.</p><br/><i class='fa fa-clock-o'></i> <i>Warning..</i>",
                               color: "#5F895F",
                               iconSmall: "fa fa-times-circle bounce animated",
                               timeout: 8000
                           })
                           e.preventDefault()
                           return;
                       }
                       alert('Timetable(' + JSON.stringify(lessons) + ')')
                       alert('Post Form..')
                       jQuery('#Lessons').val(JSON.stringify(lessons))
                       jQuery('#add-timetable').submit()
                       alert('Form Submited')
                   })

                   jQuery(".wizard").on('change', function (e, data) {

                       if (data.step == "4") {
                           setTimeout(function () {
                               jQuery('#calendar').fullCalendar('render');
                           }, 500)
                       }
                   })
               })
            </script>
}



        