﻿// Fix the Bootstrap font path so it points to wwwroot/fonts instead of wwwroot/fonts/bootstrap.
$icon-font-path: '../fonts/';

// Import the bootstrap SASS style-sheet so that it can be customized and variables overridden here.
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Boxmodel
.padding {
    &-top {
        &-0 {
            padding-top: 0 !important;
        }

        &-5 {
            padding-top: 5px !important;
        }
    }

    &-bottom {
        &-0 {
            padding-bottom: 0 !important;
        }

        &-5 {
            padding-bottom: 5px !important;
        }
    }

    &-left {
        &-5 {
            padding-left: 5px !important;
        }

        &-10 {
            padding-left: 10px !important;
        }
    }

    &-right {
        &-5 {
            padding-right: 5px !important;
        }

        &-10 {
            padding-right: 10px !important;
        }
    }
}

.margin {
    &-top {
        &-0 {
            margin-top: 0 !important;
        }

        &-5 {
            margin-top: 5px !important;
        }
    }

    &-bottom {
        &-0 {
            margin-bottom: 0 !important;
        }

        &-5 {
            margin-bottom: 5px !important;
        }
    }

    &-left {
        &-5 {
            margin-left: 5px !important;
        }

        &-10 {
            margin-left: 10px !important;
        }
    }

    &-right {
        &-5 {
            margin-right: 5px !important;
        }

        &-10 {
            margin-right: 10px !important;
        }

        &-15 {
            margin-right: 15px !important;
        }
    }
}

/* SmartForm Bootstrap Validation */
#extr-page {
    h4 {
        &.paragraph-header {
            width: auto;
        }
    }

    .smart-form {
        .alert {
            margin: 4px;

            li {
                margin-left: 14px;
                list-style: none;

                &:before {
                    content: "\f071";
                    font-family: FontAwesome;
                    position: absolute;
                    left: 14px;
                }
            }
        }

        div + fieldset {
            padding-top: 15px;
        }
    }
}

