﻿
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<com.bkss.IdentityModels.ApplicationUser> SignInManager

@{
    var loginProviders = await SignInManager.GetExternalAuthenticationSchemesAsync();
    if (loginProviders.Count() > 0)
    {
        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
            <h5 class="text-center">- Or sign in using -</h5>
            <ul class="list-inline text-center">
                @foreach (var provider in loginProviders)
                {
                    if (provider.DisplayName.ToLower() == "facebook")
                    {
                        <li>
                            <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                        </li>
                    }
                    else if (provider.DisplayName.ToLower() == "twitter")
                    {
                        <li>
                            <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                        </li>
                    }
                    else if (provider.DisplayName.ToLower() == "google")
                    {
                        <li>
                            <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-google"></i></a>
                        </li>
                    }
                }
            </ul>
        </form>
        }
    }
