﻿

@inject IOptions<AppSettings> AppSettings
@model LoginViewModel

@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewData["Title"] = "Log in";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "This is the official website for BK Softwares Solutions owned byt Troglobe Soft Solutions. We are a company specialized in softwares solutions for Mobile devices and Smartcards";

    //Layout = "_Layout";

    ViewBag.PageId = "extr-page";
    ViewBag.PageClass = "animated fadeInDown";

}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
{
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="Bourne Koloh">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@bkss_tw">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">


}

@section topright{
    <span id="extr-page-header-space"> <span class="hidden-mobile">Need an account?</span> <a asp-action="Register" class="btn btn-danger">Create account</a> </span>
}
<div id="content" class="container">
    <div class="row">
        @{ Html.RenderPartial("_LoginText"); }
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4" >
            <div class="well no-padding">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        Sign In
                    </header>
                    <fieldset>
                        <div asp-validation-summary="All" class="text-danger hidden"></div>
                        <section>
                            <label class="label">E-mail</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input asp-for="Email" value="bournekolo@yahoo.com">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Password</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input asp-for="Password" value="Admin@112">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b>
                            </label>
                            <div class="note">
                                <a  asp-action="ForgotPassword"><i class="fa fa-frown-o"></i> Forgot password?</a>
                            </div>
                        </section>

                        <section>
                            <label class="checkbox">
                                <input asp-for="RememberMe" value="true" checked="checked">
                                <input type="hidden" asp-for="RememberMe" value="false" />
                                <i></i>Stay signed in
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            Sign in
                        </button>
                    </footer>
                </form>
            </div>
            @{ Html.RenderPartial("_SocialMedia"); }
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        jQuery(function () {
            // Validation
            jQuery("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    password: {
                        required: 'Please enter your password'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}
